[2017-02-17 04:47] maxmatthews commented on #471
@ivanthemeh This may be against github protocol, but I reached out to you over email. Hopefully we'll be able to work it out offline and post the solution back here. However, if you'd prefer to keep it all within Github, we totally can. LMK!

[2017-02-17 05:07] chenmoran commented on #470
@maxmatthews Thanks.My mup.js is wrong.

[2017-02-17 05:08] maxmatthews commented on #470
If you've found your issue, feel free to close your issue!

[2017-02-17 09:05] MuyBien commented on #466
I just SSH to a mupx-letsencrypt app deployed, and the docker used is the `abernix/meteord:base`. The same is recommended with a Meteor >1.4 for mup. MupX and Mup use both letsencrypt-companion. So I think there are compatible.

Now I'm just wondering if I need to reconfigure the server <ith mup or with a deploy I can switch from a mupx deployed app to a mup deployed app...

[2017-02-17 17:27] avishaan commented on #439
I was just about to make this "issue". Sidenote: does anyone know zodern's name on twitter?

[2017-02-17 17:42] avishaan opened #473 "unknown update text during `mup deploy`"
I see the following on my current deploy, my last deploy was about 2 months ago if that makes a difference. Is this saying that my mup version on the server is incorrect?

![image](https://cloud.githubusercontent.com/assets/5360982/23076404/2b87b0f6-f4f5-11e6-8437-08ce894502f9.png)

this is followed up with an error when I `mup deploy`
![pasted_image_2_17_17__9_41_am](https://cloud.githubuserconte

[2017-02-17 18:54] zodern commented on #466
The [migration section in the readme](https://github.com/zodern/meteor-up#migrating-from-meteor-up-0x) applies to migrating from mupx to mup. If you are using the latest version of mup (1.2 or newer), it will warn you of most problems in your `mup.js` file.

In your `mup.js`, you will want to change the docker image to `abernix/meteord:base`.

[2017-02-17 18:58] zodern commented on #473
The update message is shown because you are using an old version of mup. Run `npm i -g mup` to update it. Newer versions have a better message.

[2017-02-17 18:58] avishaan commented on #473
thanks for the reply, appreciate you taking over this repo

[2017-02-17 18:58] #473 closed, assigned to nobody

[2017-02-17 20:29] ivanthemeh commented on #378
@zodern @CaptainChemist did you?

its because these settings need to be added in the docker containers nginx server block

        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $host;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_buffer_size          128k;
        proxy_buffers              4 256k;
        prox

[2017-02-17 20:56] WayneUong opened #474 "automatically do npm install in build"
Can we have the option of automatically running `meteor npm install` during bundling?

[2017-02-17 21:03] ivanthemeh opened #475 "nginx docker config"
Im wondering if anyone is aware of how I could set these in the docker nginx server block?

proxy_set_header X-Real-IP $remote_addr;
proxy_set_header Host $host;
proxy_set_header Upgrade $http_upgrade;
proxy_set_header Connection "upgrade";
proxy_buffer_size          128k;
proxy_buffers              4 256k;
proxy_busy_buffers_size    256k;

[2017-02-18 01:16] zodern commented on #474
Could you please explain why you need this? What are you trying to do or what that is not working?

[2017-02-18 01:19] zodern commented on #475
If you are not using ssl, you can start your own nginx container on the server.
If you are using custom ssl certificates, you can fork https://github.com/meteorhacks/mup-frontend-server and modify it's nginx config.

Eventually it will be much easier to customize the nginx config.

[2017-02-18 01:23] WayneUong commented on #474
We have a git repo setup for continuous deployment with `mup` on a remote server. Any time the repo is updated, a deployment process is automatically triggered. But every time the `packages.json` list is updated, we have to manually ssh to the server and run `meteor npm install` before `mup` can bundle the repo successfully with all the latest npm packages.

[2017-02-18 01:25] zodern commented on #474
Are you able to automatically always run `meteor npm install` before `mup deploy`?

[2017-02-18 01:30] WayneUong commented on #474
We can, but then we will have to inject a middle-man script just for that purpose (the other parts are all outsourced). So I'm wondering if it can be done within `mup`.

[2017-02-18 10:48] s7dhansh opened #476 "Deployment at new DO droplet Ubuntu16.04 failed"
[code]

The deployments at old droplets (also 16.04) work fine, except for occasional `Unhandled promise rejection` errors.

The config:
[code]

[2017-02-18 11:26] s7dhansh commented on #476
Sorry, it was some problem at the code end.

[2017-02-18 11:26] #476 closed, assigned to nobody

[2017-02-18 11:39] #470 closed, assigned to nobody

[2017-02-18 12:00] ivanthemeh commented on #475
@zodern does the front end not get reset on every deploy?

[2017-02-18 15:52] c314 opened #477 "Installing MongoDB: FAILED"
when I run `mup setup`, it failed on installing MongoDB.

[code]

[code]
Any tips?

[2017-02-18 16:46] #477 closed, assigned to nobody

[2017-02-18 16:47] c314 commented on #477
After doing `mup setup` many times , it worked!

[2017-02-18 23:12] zodern commented on #475
Yes. If you fork it and make your custom config part of the image, it should be fine.

[2017-02-18 23:37] gjr-qm commented on #469
I do have to use docker commands if i deploy with mongodb. That is because mongo is not installed on the server hosting the docker containers. So i have to use the mongo within the container.

 But the most convenient way for me to access the database from my computer is to use RoboMongo with an SSH tunnel. The SSH tunnel makes the mongodb url available for Robomongo that uses my local mongo insta

[2017-02-19 02:06] ivanthemeh commented on #475
@zodern Im not sure how to do that, how would I install my forked package instead of yours? Sorry Im a nub.

[2017-02-19 02:09] zodern commented on #475
You will need to publish it to the docker hub.
Then, in your config add this, and change it to the name you used when publishing to the docker hub.
[code]

I'm sorry it isn't any easier right now to customize the nginx config.

[2017-02-19 02:22] ivanthemeh commented on #475
@zodern I just tested adding those settings to the nginx-proxy and it got rid of the 502 bad gateway. SO I know it works just need to get it in the fork and publish to docker which Im working on atm.

[2017-02-19 02:57] JohnAllen commented on #469
Thanks for your comments.

If I install `mongo-client` then I can access the mongo instance running inside the docker container.  I have not tried accessing it locally, but it sounds like this is possible and seems like it would be to me too.

I am asking this because I want to be able to insert docs from another server, really another Meteor app.

[2017-02-19 03:11] zodern commented on #469
One option to access Mongodb from other servers might be this: https://docs.docker.com/engine/admin/ambassador_pattern_linking/

[2017-02-19 10:05] gjr-qm commented on #469
Interesting @zodern, i will have a look at that too.

For production servers, I prefer to use a separate MongoDB replica set instead of relying on the MongoDB installation that is done with meteor-up. That way you'll have total control over security and access.

[2017-02-19 10:08] gjr-qm commented on #469
@JohnAllen correct me if I'm wrong, but wouldn't it be better to exchange data between apps with an API (or separate DDP connection since they are both Meteor apps)?

[2017-02-19 15:23] JohnAllen commented on #469
I have been planning on inserting content straight into the database -- as a central data store that both apps can access.  One app is a web-crawler, essentially, that inserts data into the database that is analyzed and is later served to users.  I've just thought as the DB being the optimal way of inserting, analyzing and serving data, but I will think about other ideas some more.  The data does

[2017-02-19 18:54] ivanthemeh commented on #475
@zodern how can I edit the nginx-proxy that gets used? Right now its jwilder/nginx proxy but I have no Idea where to change it to a fork of mine? Please and thanks.
I cant even figure out how to clone a github repo and make a docker hub of it that I can pull 😢
and it sucks because all I need to add is either a file to /etc/nginx inside the container or add three lines of code to the conf.d/default

[2017-02-19 19:45] ivanthemeh commented on #475
@zodern ok so I figured out how to make an automated build using a fork of a github repo so thats cool, now ALL I should have to do is edit the jwilder/niginx-proxy to mine right? Where would I do that at lol? I searched through some of the mup files and folders and was unable to figure out where to put it. Please and thanks!

[2017-02-19 21:41] kandizzy commented on #471
I have the exact same issue at the moment, if it's figured out will you post the solution here? Thanks!

[2017-02-19 22:19] jessb321 commented on #474
Yeah, I noticed this, since I do all the deployment myself, I just added meteor npm install to my script after git pulling. Not a big issue, but would be nice to have.

[2017-02-20 18:24] kodie opened #478 "docker: Error response from daemon: service endpoint with name already exists."
Trying to deploy my Meteor app to a fresh DigitalOcean droplet. `mup setup` runs just fine but running `mup deploy` gives me this:

[code]

[2017-02-20 19:50] PolGuixe commented on #391
Any solution on this?

[2017-02-20 21:00] PolGuixe opened #479 "Docker eats up all the space"
Docker eats up all the space. After 2 months it grew up till it took all the space available. Specially the folder `/var/lib/docker/aufs`.

Is anyone experiencing problems of space in their deployments?

[2017-02-20 21:40] lunatolun commented on #478
+1

[2017-02-20 22:39] zodern commented on #479
This is a duplicate of #391.

[2017-02-20 22:39] #479 closed, assigned to nobody

[2017-02-20 22:40] zodern commented on #391
Could you please run these commands and post the output here?

`docker images`
`docker ps -s`

[2017-02-20 23:02] PolGuixe opened #480 "Install dependencies in a Docker container e.g. GraphicsMagick"
How we can specify to install GraphicsMagick or another dependency in the Docker container when we deploy?

[2017-02-20 23:04] zodern commented on #480
Right now the only option is to use your own docker image.

[2017-02-20 23:06] PolGuixe commented on #391
Right now I deleted docker completely from the server and reinstalled, as it was the only solution I've found to work so far. If I run those commands right now I get:
[code]
and
[code]

[2017-02-20 23:07] PolGuixe commented on #480
I know that I can modify abernix's image https://hub.docker.com/r/meteorhacks/meteord/

Once it's modified do I need to push that image the docker hub?

[2017-02-20 23:09] zodern commented on #480
Yes.

[2017-02-20 23:09] gjr-qm opened #481 "mongo oplog setting?"
In the mup.js example from the README.md there is an oplog setting:

[code]

In the source, I see no references to this setting or references to a replication set (which is needed if you want to have oplog functionality). I suspect this setting doesn't do a thing in the current version.

Maybe remove this from the example and code and make a separate issue for implementing it?

I wish I had enough

[2017-02-20 23:15] zodern commented on #481
Your right, it currently doesn't do anything. After I finish improving the tests, I need to go through the documentation.

In issue #21 there is [this comment](https://github.com/zodern/meteor-up/issues/21#issuecomment-238032995) that explains how to enable it.

[2017-02-20 23:16] PolGuixe commented on #480
According to this: http://stackoverflow.com/questions/31901697/meteor-up-docker-and-graphicsmagick
I need to modify the DockerFile in the image, but which DockerFile 🤔
-`base/DockerFile`
-`binbuild/DockerFile`
-`devbuild/DockerFile`
-`onbuild/DockerFile`

all of them?

[2017-02-20 23:20] zodern commented on #480
You should modify `base/DockerFile`.

[2017-02-20 23:28] PolGuixe commented on #480
I've just found this image that it is doing exactly what I wanted: https://github.com/c316/meteor-graphicsmagick

[2017-02-20 23:28] #480 closed, assigned to nobody

[2017-02-20 23:41] gjr-qm commented on #481
Thanx again! Maybe I have a look into it later.

[2017-02-21 02:41] zodern commented on #391
Please run the commands and `df -h` again the next time you run low on disk space.

[2017-02-21 02:53] zodern commented on #475
The instructions I gave you were for if you were using the `mup-frontend-server`. I am sorry if you went through extra work because of that. If you are using `nginx-proxy`, it is much simpler. You can fork `meteor-up`, and add your modifications [here](https://github.com/zodern/meteor-up/blob/master/src/modules/meteor/assets/templates/start.sh#L64).

Run `npm install -g` in the folder containing y

[2017-02-21 03:03] DanielKoehler commented on #364
+1

[2017-02-21 05:14] PolGuixe commented on #391
I did run the command `df -h` prior to remove docker everything seemed normal except for:
`/dev/xvda1      7.8G  7.7G  60M  100% /`

[2017-02-21 05:54] Ethaan commented on #92
Did you get this working?

[2017-02-21 13:15] JoeriSmits commented on #391
This is also a problem for me. After running ```docker ps -s``` I noticed that ```abernix/meteord:base``` is taking up 9.3GB.

[code]

[2017-02-21 14:24] zodern commented on #391
In the output you posted, it looks like it is only 9.3 MB.

Could you please run `du -h --max-depth=2 /opt` and `df -h`?

[2017-02-21 14:50] JoeriSmits commented on #391
@zodern When I run ```df -h``` I get around 9GB for ```docker/aufs/```. When I run ```mup stop``` It looks like it does not clear up any space.

```df -h```
[code]

When I run ```du -h --max-depth=2 /opt``` I get:

[code]

[2017-02-21 14:57] artpolikarpov commented on #391
Useful reading about cleaning after Docker: https://lebkowski.name/docker-volumes/ <https://lebkowski.name/docker-volumes/>

[2017-02-21 14:57] gjr-qm commented on #391
Maybe some docker cleanup will do the trick? It is possible that you have a lot of docker images downloaded that are not in use. You could try to get rid of dangling images with this command:

`sudo docker rmi $(sudo docker images -q -f dangling=true)`

Or even use a cleanup script like https://github.com/chadoe/docker-cleanup-volumes.

[2017-02-21 15:13] JoeriSmits commented on #391
@artpolikarpov Did this work for you? I already tried to cleanup docker with the link you send me a few hours ago, but was only able to clean about 200MB.
@gjr-qm Earlier today I tried to deploy a new version of my meteor app to enable autogenerate ssl by letsencrypt but it failed due to not enough space on the disk and did throw the following error:
[code]

I'm not that familiar with docker but w

[2017-02-21 15:26] PolGuixe commented on #391
In my case it was also `/var/lib/docker/aufs/`, that was taken all the space and I just had one image.

[2017-02-21 16:18] shadowcodex commented on #475
@zodern is this something we could use the inject I made to pull in a text field from the mup.js file? So people could write their own nginx config in that text field and just import it that way?

[2017-02-21 16:21] zodern commented on #475
yes, or copy it from a file.

[2017-02-21 16:26] shadowcodex commented on #475
@zodern I'll look at creating a PR request for this. Look for one coming in the next week or two.

[2017-02-21 16:28] zodern commented on #478
In #448 there was a similar problem. I'm not able to reproduce this. Please post your mup.js file. Also, which image did you use for the droplet, what size is it, and did you select any of the additional options? Did you do anything on the droplet besides running `mup setup` and `mup deploy`?

[2017-02-21 16:40] kodie commented on #478
[code]

Droplet:
512 MB Memory / 20 GB Disk / NYC3 - Ubuntu 16.04.1 x64 w/ IPv6 enabled

Haven't done anything besides mup setup and mup deploy. Even tried destroying the droplet and remaking it and got the same results.

[2017-02-21 16:46] ivanthemeh commented on #475
@shadowcodex according to the jwilder/nginx-proxy adding a file at /etc/nginx/proxy.conf allows changing the config. I have no idea how to do that it it may help you.

[2017-02-21 21:15] shadowcodex commented on #475
@ivanthemeh I already have this system setup on this PR https://github.com/zodern/meteor-up/pull/451

Thanks!

[2017-02-21 22:37] lunatolun commented on #478
Mine is Ubuntu 14.04 x64
dockerImage: 'abernix/meteord:base'
deployCheckWaitTime: 120 (always worked fine)

As it was mentioned in issue [#448](https://github.com/zodern/meteor-up/issues/448) when I first did setup and deploy, it worked with Dogfalo/Materialize 0.97 but when I tried with 0.98 it didn't work and the next deploys also didn't work, no matter what I change. I didn't try a fresh instal

[2017-02-21 22:42] lunatolun commented on #448
@bryanlimy It is the same for me but I can't redeploy with v0.97 again after I try v0.98. I will try a fresh install soon. With v0.97 the chips and some select fields lose the design but thats not really a major issue/easy CSS copy-paste fix

[2017-02-21 23:36] mariusglauer opened #482 "Delete bundle files after deployment"
Currently the /tmp directory is full of bundle files. If you don't restart your computer on a regular basis (what most macOS users don't do), much disk space is taken from these files.
I'd suggest to automatically delete the bundle files + the archived bundle after a successful deployment.

[2017-02-22 02:20] iamrommel commented on #179
I'm not using that pem, i'm using the plain password but still it just do nothing after type mup on my command line

[2017-02-22 02:20] iamrommel commented on #179
is there any log files I can check to know what's really wrong?

[2017-02-22 02:31] iamrommel commented on #185
I think we need to put the commont of @bennygenel  on ReadMe, first install bug, or fix this for windows client...

[2017-02-22 03:40] zodern commented on #179
Please make sure you are using the latest version of mup. A few causes for silent fails have been fixed this month.

[2017-02-22 03:46] zodern commented on #185
It is on the readme in two places, but I can make it more visible.

[2017-02-22 06:23] iamrommel commented on #185
wow, that's great. I maybe over look it, as i have read that readme months ago and never notice that there is update on it. Thanks anyway for the info. great work @zodern for making this mup alive again

[2017-02-22 06:23] iamrommel commented on #179
yep, i'm using the latest version as i just downloaded it 5hours ago. I also make sure, there is no existing mupx and mup on on my node_modules global folder.

I was on window and using "mup.cmd" rather than just "mup" do the trick. i found this on https://github.com/zodern/meteor-up/issues/185#issuecomment-281560683

[2017-02-22 10:53] tonioknuth commented on #364
+1

[2017-02-22 22:40] btbjosh opened #483 "How to verify issues with Lets Encrypt Auto generation"
I have ssh access to my server but I don't know how to verify how or why the autogeneration of my certs have not worked...

I am trying to deploy to two servers simultaneously (which does work) ... both have the same sub domain for the auto gen via LetsEncrypt. Is this a problem? Are there some docker commands that I can see what happened with the LetsEncrypt?

Also, it's not clear in the docs whe

[2017-02-22 22:45] shadowcodex commented on #483
It's setup on deploy or start.

You can view what docker containers you have running on the server with `docker ps`.

To view the logs on the container you can do `docker logs <container>`.

In your case, you will have two Nginx dockers running. One for the let's encrypt auto generation, and one for the regular Nginx. You can use the logs command to view what is happening on them.

[2017-02-22 22:49] shadowcodex commented on #458
@zodern do you have an idea of a timeline to make this change? I'm thinking about the Nginx settings file that we were discussing. If we do use this for both SSL options, then the instructions for the Nginx settings file will be the same for both uses.

[2017-02-22 22:52] btbjosh commented on #483
@shadowcodex Thanks for the help! I'll take a look and see what's going on.

[2017-02-22 22:55] btbjosh commented on #483
Weird. My first server only shows the `abernix/meteord:base` image.. Just that one container. Shouldn't there be at least two containers if you're telling me there are separate containers for the nginx apps?

[2017-02-22 22:58] shadowcodex commented on #483
Try `docker ps -a`
On Wed, Feb 22, 2017 at 4:55 PM Josh <notifications@github.com> wrote:

[2017-02-22 23:02] btbjosh commented on #483
Yeah, just that one is listed. I'm redeploying now to see if I can remedy that. I was having issues with the `ssl` object in the mup.js file preventing the server from operating so I commented it out. Then both servers worked flawlessly without their ssl. So I'm trying to add it back, without much luck.

I got my staging server (separate sub domain) working perfectly with the `ssl` generation. Not

[2017-02-22 23:11] PolGuixe commented on #459
@zodern I have also experienced the same. Any idea why this is happening?
Is this redirect normal?

[2017-02-22 23:11] btbjosh commented on #483
ok... so I got my error now.

[code]

[2017-02-22 23:18] PolGuixe commented on #459
Also the SSL certificate is the one from Cloudflare and not the one from Let's Encrypt. Is there a way to ensure that the Let's Encrypt certificate is working?

[2017-02-23 06:53] PolGuixe opened #484 "Nginx-proxy docker image does not restart after server reboot"
**Context:**
- Runing on ubuntu 16.04 in AWS EC2.

**Steps to reproduce:**
- Just run `sudo reboot` and wait for restart.
- Then do `docker ps`:
[code]

It is missing the nginx-proxy image

[2017-02-23 10:23] JoeriSmits commented on #391
Ok so I completely reinstalled my server and did a ```mup setup``` and a ```mup deploy```. ```/docker/aufs/``` now takes up 3.8G. I will keep monitoring if size increased rapidly.

[2017-02-23 10:32] ZhuQinglei opened #485 "listen tcp 0.0.0.0:80: bind: address already in use."
I am trying to setup the mup.js and to deploy, I wanted my website to be run on port 80 (default port). However when I deploy, it always fail and give me this error message in command console:
[code]
I dont know where I went wrong.. Please kindly suggest. Thank you!

[2017-02-23 15:24] PolGuixe opened #486 "Issues with certificates subdomains"
I opened this issue there: https://github.com/JrCs/docker-letsencrypt-nginx-proxy-companion/issues/176

I think it should also be here.

[2017-02-23 15:59] btbjosh commented on #483
I think I know why it's failing but I'm not sure how to fix it. I am trying to use a Digital Ocean load balancer. The load balancer has the certificate domain a record. So it points to the load balancer ip which is not the same as the two desired backend server ips that are getting set up by mup. Anyone know how to resolve this setup? Do I need to manually generate the cert?

[2017-02-23 20:20] melkati commented on #471
I have this issue also.

Do you have any solution for this?

[2017-02-23 20:34] lunatolun commented on #478
Fresh install on Ubuntu 14.04.5 x64, Dogfalo/Materialize v0.97 works like a charm, including SSL.

[2017-02-23 20:34] lunatolun commented on #448
Fresh install on Ubuntu 14.04.5 x64, Dogfalo/Materialize v0.97 works like a charm, including SSL.

[2017-02-23 21:41] ivanthemeh commented on #471
@kandizzy @melkati I was not able to figure this issue out. If either of you do let me know please 😄
I just had to settle for deploying a single instance per server for now.

[2017-02-23 22:05] ivanthemeh commented on #484
@PolGuixe did you ever figure this out? Im having this issue as well.

[2017-02-23 22:20] zodern commented on #459
If your website works when it is set to `Full (strict)`, you know Let's Encrypt is working.

In the cloudflare support, there is two articles on fixing this for Wordpress and Joomla. They seem to say it is from having mixed content.

[2017-02-23 22:21] #179 closed, assigned to nobody

[2017-02-23 22:21] zodern opened #487 "Warn when using mup instead of mup.cmd on Windows"

[2017-02-23 22:23] zodern commented on #484
Running `mup restart` should start the proxy again.

[2017-02-23 22:29] PolGuixe opened #488 "How to access the volumes of running volumes?"
How can I see the content of the volumes?

Is the data persistent, even if I deploy again?

[2017-02-23 22:40] ivanthemeh commented on #484
@zodern that's fine but what if it goes down and I'm not there then my app is down. Shouldn't it restart automatically?

[2017-02-23 22:40] zodern commented on #488
If you `ssh` on to the server, you can use the command line to view the volume's content. Volumes are located at the host path you provide in the config. Is that what you are asking?

The data does persist.

Volumes should be better documented in the Readme.

[2017-02-23 22:48] gjr-qm commented on #487
I think this solution will not work because Windows tries to run mup.js (the mup config file). So the warning has to be in the mup.js file. I think that is not the most clean solution.

Maybe change mup.js to mupconfig.js?

So in mup you can check if mup.js exists. If not then check mupconfig.js. Changing the name of the config file will take care of the mup command not being intercepted.

[2017-02-23 22:54] zodern commented on #484
It is a temporary fix.  I will add auto-restart next week.

[2017-02-23 22:59] gjr-qm commented on #487
@zodern: If you like the idea I could implement it in a PR...

[2017-02-23 23:02] PolGuixe commented on #488
I see now. I misunderstood how volumes work. I thought the volumes where inside the container. 😓

[2017-02-23 23:02] #488 closed, assigned to nobody

[2017-02-23 23:11] zodern commented on #487
It would work when running `mup init`. It's not perfect, but better than nothing.

I have been considering that.

Also, this seems to only happen in Command Prompt. In Windows 10 Creator's update, Power Shell will become the default shell.

[2017-02-23 23:19] gjr-qm commented on #487
I think a warning is a no-go. Making the mupconfig.js optional would solve current problems for Windows users. But it's your call @zodern. If you want me to implement it (optional), just let me know.

[2017-02-23 23:22] gjr-qm commented on #487
Another option is updating the documentation for now with a warning for Windows users to use mup.cmd  instead of mup.

[2017-02-23 23:55] zodern commented on #485
There is something already running on port 80. It looks like you were using mupx. Did you stop the app before switching to mup?

[2017-02-24 01:05] kandizzy commented on #471
@ivanthemeh i managed to get this working, however i'm not exactly sure which change I made was the one to do the trick. Here's everything I did though:
- removed `PORT` from `meteor.env` and set `meteor.port` to 3000
- added a `VIRTUAL_HOST` variable to `meteor.env` with the vhost name from my nginx conf
- upgraded this npm module locally with the changes from this [PR](https://github.com/zodern/

[2017-02-24 01:53] Kolhor opened #489 "Application not updated on redeploy"
Hi. I deployed a project on a DigitalOcean server using mup which works totally fine. It had a few bugs I wanted to fix so I did so and made sure they worked on localhost before redeploying.

Tried mup setup, deploy with only SUCCESS as answers on everything, but server is still running old version of my app...
Even tried mup reconfig, but it didn't help...

Tried rebooting server with sudo reboot

[2017-02-24 02:21] PolGuixe commented on #459
@zodern thanks for your reply.

Could it be due to the nginx configuration?

[2017-02-24 02:26] #489 closed, assigned to nobody

[2017-02-24 02:56] ZhuQinglei commented on #485
@zodern
after mup stop and niginx stop,
and mup setup with no env.port,  then mup deploy and start Working good.

Thank you so much!

[2017-02-24 02:57] #485 closed, assigned to nobody

[2017-02-24 07:40] ja1sh opened #490 "Build Error:"
`$ mup deploy
Building App Bundle Locally
{ cwd: '/media/jaisharma/72FA1EB1FA1E7199/helloMeets/web/hellomeets/HelloMakersWebApp' }
{ [Error: spawn meteor ENOENT]
  code: 'ENOENT',
  errno: 'ENOENT',
  syscall: 'spawn meteor',
  path: 'meteor',
  spawnargs:
   [ 'build',
     '--directory',
     '/tmp/03b22d37-b9c7-4b3d-852a-fd6c39cad4e3',
     '--architecture',
     'os.linux.x86_64',
     '--debu

[2017-02-24 16:25] shadowcodex commented on #483
I would recommend manually generating and injecting the cert.

[2017-02-24 19:09] ghost commented on #183
I was having this error with  `mup reconfig`, used mup deploy instead and worked.

[2017-02-24 20:07] j-jackson opened #491 "ERR_CONNECTION_REFUSED & 521 (Origin Down)"
I'm not 100% sure if this is an error with mup or Meteor as I updated them both at the same time, but I now keep getting the following errors in the browser console:

.....sockjs/info?cb=5tnfoj39ib 521 (Origin Down)

or

....sockjs/info?cb=if3c9illsk net::ERR_CONNECTION_REFUSED

I have tried running mup setup again and everything completes without any errors but I can't clear these errors on the b

[2017-02-24 21:20] j-jackson commented on #491
swapping `meteorhacks:fast-render` for `staringatlights:fast-render` fixed this for me.

[2017-02-24 21:20] #491 closed, assigned to nobody

[2017-02-24 22:43] Twisterking commented on #478
+1

Same problem here!
Fresh droplet with 512MB RAM on Ubuntu 16.04 X64.
mup.js:
[code]

What is your guess? Maybe trying Ubuntu 14.04 instead and see if that changes anything?!

[2017-02-24 23:02] kodie commented on #478
Can confirm that like @lunatolun, a fresh install on Ubuntu 14.04.5 x64 works.

[2017-02-24 23:18] Twisterking opened #493 "Error response from daemon: Could not get container for mongodb"
Fresh droplet with Ubuntu 14.04.5 x64.
My `mup.js`:
[code]
[code]
Can someone help?

PS: Also `mup setup` behaves weird:
first time:
[code]
second time:
[code]

[2017-02-24 23:19] Twisterking commented on #478
OK ... rebuilt my droplet with 14.04 x64 and now I have some new problems! 👎  https://github.com/zodern/meteor-up/issues/493

[2017-02-24 23:48] wolganens opened #494 "502 Bad Gateway"
Hello, at first, I was able to deploy my app to a digital ocean droplet, everything 100%, today after some changes I run  mup deploy again and there is no erros but when I try to access the app page i get this 502 bad gateway error.

Thank you very much and sorry about the bad english.

[2017-02-25 01:03] Cu4rach4 commented on #490
did you install meteor?

curl https://install.meteor.com/ | sh

wish version of node do you have installed?

[2017-02-25 01:12] Cu4rach4 commented on #494
i have almost the same problem, but this is my logs --tail=50

Could you send your log, to compare, i believe it's a node version problem, beacause my app was create on 0.10.44 and meteor 1.2.-

[2017-02-25 04:36] Cu4rach4 commented on #378
how we can solve this?, can we modified directly nginx, wish file needs to be modified?

Thnaks

[2017-02-25 04:54] ivanthemeh commented on #378
I had to fork the github repo for jwilder/nginx-proxy then create an automated build on docker hub. Trigger the build and the go the the file at /src/modules/meteor/assets/templates/start.sh to reflect your docker hub repo. Don't forget to update your forked repo with config settings before triggering the automated build.

[2017-02-25 04:55] JohnAllen commented on #462
Let's Encrypt is working fine for me at DO with 16.02

[2017-02-25 17:46] Ethaan commented on #367
Did you get this working? im having the same issue

[2017-02-25 22:36] wolganens commented on #494
I run meteor npm install --save prerender-node (a package I use), deploy without ssl configuration then I could open the app. After that I deploy again with the ssl config and now its all working again..

[2017-02-26 08:12] nloui opened #495 "Mup generates mup.json instead of mup.js"
For some reason when I run mup init it's generating the old style mup.json rather than the new mup.json.  Running mup 1.2.2 so it shouldn't do this?

[2017-02-26 09:52] #495 closed, assigned to nobody

[2017-02-27 00:32] zodern commented on #489
@Kolhor could you please share what the problem was?

[2017-02-27 01:53] Kolhor commented on #489
The problem was right in front of the keyboard.

First I deployed without SSL (for some reason). This meant that the verification mail new users got which started with "https://" would not work.

When I told my co-developer this (who had implemented the email system) he quickly made a "hot fix" which would solve the problem.

the url which is used as a parameter in the verification-email-step woul

[2017-02-27 02:37] jasonwcfan commented on #493
Managed to fix a similar error by simply uninstalling and reinstalling mup locally (i.e. not on the server being deployed to)

`npm -g uninstall mup`
`npm -g install mup`

[2017-02-27 18:02] shadowcodex commented on #475
Gonna work on this in a few. In tandem with https://github.com/zodern/meteor-up/issues/458

[2017-02-27 18:29] shadowcodex commented on #458
I think I have this about done.

[2017-02-27 19:00] shadowcodex commented on #458
https://github.com/zodern/meteor-up/pull/496 pull request up.

[2017-02-27 19:01] shadowcodex commented on #475
Pull request up: https://github.com/zodern/meteor-up/pull/496

[2017-02-27 20:04] shadowcodex commented on #486
if you haven't yet, you need to fix your dns routing to that subdomain.

[2017-02-27 20:05] shadowcodex commented on #484
@zodern @ivanthemeh @PolGuixe this is fixed in https://github.com/zodern/meteor-up/pull/496

[2017-02-27 20:08] shadowcodex commented on #373
This shouldn't be happening because of the promise string here.. `modules/meteor/index.js:226`

[code]

If you can point me in the right direction I can fix this in my current PR.

[2017-02-27 20:26] shadowcodex commented on #373
@zodern on the nodemiral stuff is list.run async or sync?

I wonder if this is returning resolve before it's completely finished with all the tasks...

[code]

[2017-02-27 20:37] zodern commented on #373
This morning I looked into the bug, and it seems to no longer exist.

[2017-02-27 20:37] #373 closed, assigned to nobody

[2017-02-27 20:39] shadowcodex commented on #373
awesome

[2017-02-27 21:03] zodern commented on #493
@Twisterking did `mup setup` ever finish successfully?

[2017-02-27 21:10] PolGuixe commented on #484
@shadowcodex cool! thanks.

@zodern will you publish the next version soon?

[2017-02-27 21:19] PolGuixe commented on #486
@shadowcodex what do you exactly mean?

This is my configuration:
- **Server 1** with IP **XX.XX.XX.XX** host the production app. DNS points **example.com** and **www.example.com** to **XX.XX.XX.XX**. **Server 1** also hosts the SSL certificates for **example.com** and for **www.example.com**.
- **Server 2** with IP **YY.YY.YY.YY** host the staging app. DNS points **staging.example.com** to **YY.Y

[2017-02-27 21:54] shadowcodex commented on #486
if you ping that host name, is it responding with YY.YY.YY.YY?

your mup.js should be something like this. Best practice IMO is to use separate mup.js and settings.js files for each environments.

[code]

[2017-02-28 05:28] ja1sh commented on #490
I reinstalled meteor, and its working.
Thanks :100:

[2017-02-28 05:29] #490 closed, assigned to nobody

[2017-02-28 14:33] PolGuixe commented on #486
@shadowcodex yes, if I ping the host name it replies with YY.YY.YY.YY, when it is not routed through Cloudflare.

This is how my configuration looks like 😉.
In the ssl, configuration, if I am missing **example.com**, from the domain field I am getting a `base domain missing error`.

Does this configuration works for you?

[2017-02-28 15:53] shadowcodex commented on #486
Yes I don't have base domain in mine, just the subdomain.

[2017-02-28 18:29] shadowcodex opened #497 "No gh-pages branch"
@zodern can you create a gh-pages branch so that I may pull request into it? Go ahead and create it and then delete the contents of that branch.

I am ready to submit a pull request from my branch here: https://github.com/shadowcodex/meteor-up/tree/gh-pages

Demo Site: https://shadowcodex.github.io/meteor-up/

Enjoy,
ShadowCodex

[2017-02-28 18:33] shadowcodex commented on #494
This can be closed as his issue was resolved.

[2017-02-28 18:42] #494 closed, assigned to nobody

[2017-02-28 19:16] shadowcodex opened #498 "gitter"
Any interest in adding gitter to this repo?

[2017-02-28 19:18] shadowcodex commented on #484
@PolGuixe He will as soon as we finish milestones for it.

[2017-02-28 19:19] shadowcodex commented on #475
@zodern want to add this to current milestone?

[2017-02-28 19:38] zodern commented on #484
As soon as the pull request is merged.

[2017-02-28 20:08] jetlej commented on #448
I'm getting that error again when trying to setup + deploy to a new server with Ubuntu 14.04.5 x64

[code]

[2017-02-28 20:58] 06chaynes commented on #420
I will add that I had the same issue @srimenow was experiencing. I had to completely remove mup from my local system and re-install, after that setup and deployment worked as expected.

[2017-02-28 21:01] zodern commented on #448
Docker currently has a "Full Service Disruption" http://status.docker.com/

[2017-02-28 22:29] shadowcodex commented on #497
Screen cap of site:

![meteor-up-site](https://cloud.githubusercontent.com/assets/1348053/23437273/1908b2a4-fdd3-11e6-84f0-06b86d44fe90.png)

[2017-02-28 22:42] Twisterking commented on #493
@zodern well kind of ... as stated in my OP there were some random errors but eventually it did finish properly yes. I got it to work by now but I really can not tell you what I did ... all these errors indeed seemed random, sometimes they do occur, sometimes they do not.

[2017-03-01 01:42] zodern commented on #448
@jetlej it should work now.

[2017-03-01 01:43] zodern commented on #493
Those errors during setup might have happened before mup got to starting MongoDB.

I plan to have mup retry a task if one fails from connection problems.

[2017-03-01 02:07] #493 closed, assigned to nobody

[2017-03-01 10:07] timbrandin opened #500 "Isn't there a better method to check if the deployment went well? Other than deployCheckWaitTime"
It just feels so odd setting a timeout, instead of having the deploy tool keep track of errors or if it is live already... there must be a better way! meteor deploy doesn't have this right?

[2017-03-01 14:30] Cu4rach4 commented on #478
can you exec free to see you swap?, jus t add a new swapfile to your linux and should be work...

You will see something like this:

              total        used        free      shared  buff/cache   available
Mem:        1014372      149508       57048       12192      807816      804136
Swap:       2097148       41760     2055388

[2017-03-01 14:32] shadowcodex commented on #500
You can always look at your logs using `mup logs`. You can also be SSH'd into your box and look if docker has started, investigate logs on each docker instance.

There are a ton ways to check if deployment went well, the key is to figure out what is the `best` way to check. Currently it's setup to be simple and not super complex checking that ***works***.

[2017-03-01 15:31] zodern commented on #497
This is a great start!

Please move everything in your `gh-pages` branch to the `/docs` folder in the `master` branch.

[2017-03-01 15:49] zodern commented on #500
Within 15 - 25 seconds of the app container starting, I think it checks if the app is live every second until `deployCheckWaitTime` runs out. I need to verify that.

To do that it could check if the container has restarted 2 or more times and rollback immediately instead of waiting the full time.

As far as I know, galaxy doesn't. If the app fails to start, it will display a 503 error to anyone wh

[2017-03-01 15:59] shadowcodex commented on #497
I'll do that after we finish and merge the current PR.

[2017-03-01 16:09] shadowcodex commented on #486
@PolGuixe lemme get this current PR finished up for nginx, and then I'll come back to this issue. I'm really curious as to why it's not able to verify itself. Something isn't routing right in your DNS is my assumption.

[2017-03-01 17:33] shadowcodex opened #501 "mup init created invalid mup.js"
Mup init created a mup.js with an invalid JSON.

error is on line 29 of the created mup.js

[2017-03-01 17:40] shadowcodex opened #502 "Debug Output for App Bundling"
Is it possible to add more verbose output based on what is happening in the bundling process? This is currently a spot where I have no idea what is happening during a deploy process. The blinking cursor is a stress creator for me haha.

[2017-03-01 17:56] #483 closed, assigned to nobody

[2017-03-01 17:57] #498 closed, assigned to nobody

[2017-03-01 18:00] shadowcodex commented on #482
@gbhrdt I don't think we should delete the created bundle file especially if someone is deploying to another server soon. I think deleting all others except the most recent one would be appropriate.

It has been talked before about reusing a bundle for a redeploy.

[2017-03-01 18:49] ostrowr commented on #384
I'm also running into this issue - also on DigitalOcean. No problem at all when running locally. I don't know if it's a mup problem or if it's somehow related to meteor itself a la https://forums.meteor.com/t/meteor-bundle-on-production-100-cpu/30837

This is happening on what should be a mostly idle server with only me connected, so I don't think @SachaG's explanation applies here.

[2017-03-01 19:09] #501 closed, assigned to nobody

[2017-03-01 19:18] shadowcodex commented on #384
@ostrowr Can you look at `top` or `htop` and find out what is using all the CPU? Is it really meteor?

[2017-03-01 19:19] shadowcodex commented on #452
@WayneUong did you try @zodern 's suggestion yet? Is this still an issue?

[2017-03-01 19:26] WayneUong commented on #452
@shadowcodex I was using an old custom build of meteord. After rebasing the latest branch, it works fine now.

[2017-03-01 19:26] #452 closed, assigned to nobody

[2017-03-01 19:36] shadowcodex commented on #452
Perfect great to know!

[2017-03-01 19:37] #16 closed, assigned to nobody

[2017-03-01 19:46] shadowcodex commented on #423
@FinnFrotscher for future refrence you can use `fullchain.pem` as the crt file and `privkey.pem` as the key file.

Example:

[code]

**_HOWEVER: Going forward for Let's Encrypt you should be using the autogenerate feature._**

[2017-03-01 19:46] #423 closed, assigned to nobody

[2017-03-01 19:50] #105 closed, assigned to nobody

[2017-03-01 19:56] shadowcodex commented on #468
I'm almost certain this is a docker related issue. I'll try to recreate from my end.

[2017-03-01 19:57] shadowcodex commented on #466
@MuyBien did you get this converted over?

[2017-03-01 19:58] #439 closed, assigned to nobody

[2017-03-01 19:58] shadowcodex commented on #462
I have just recently pushed to DO with the latest 16 image on my droplet. No issues.

[2017-03-01 20:02] shadowcodex commented on #460
Would have to dynamically add port exposes to the docker creation on the app container. If running proxy would have to map the reverse proxy for those ports as well.

[2017-03-01 20:02] CrackedBeefcake commented on #423
yes i am using autogenerate now and it works ![just right][logo]

[logo]: http://i.imgur.com/IazJWlUl.jpg

[2017-03-01 20:03] shadowcodex commented on #425
@spiotr12 has this happened again?

[2017-03-01 20:10] spiotr12 commented on #425
Surprisingly not yet. We can close this issue for now.

[2017-03-01 20:11] zodern commented on #460
It currently is possible to add docker args to publish additional ports in your config. It wouldn't have ssl though.

In your `mup.js` file, add:
[code]

[2017-03-01 20:12] #425 closed, assigned to nobody

[2017-03-01 20:43] yanickrochon opened #503 "Add support for Passenger"
While looking for a cluster solution, I came across [Phusion Passenger Library](https://www.phusionpassenger.com/library/) and thought it would be awesome if mup could support it.

[2017-03-01 20:47] Cu4rach4 opened #504 "AWS Security Network"
Could you add a new settings on docker image?

The problem is when try to settings a security group on AWS with filter by another security group or internal IP (Docker start with 172.17.0.1).

So you cant reach that network, and error "502 Bad gateway" appears, so i think we can add a new field on docker settings like:

docker{
 image:'',
 imageport: ,
 bridgeLan: ''
}
So bridgeLan set --bip: IP o

[2017-03-01 22:12] timbrandin commented on #500
I love this:

Also I think the logs are replaced by the rolled back container if it rolls back, so is there a way to get the full logs if that happens?

[2017-03-02 15:13] MuyBien commented on #466
I didn't convert for the moment, but someday I will... I will post here if any problem

[2017-03-02 19:21] ostrowr commented on #384
@shadowcodex `top` says node, and `docker stats` has the meteor container at 10x% cpu. But I'm not able to replicate right now for some reason - I'll let you know what I can puzzle out if I run into this issue again.

[2017-03-02 23:04] #466 closed, assigned to nobody

[2017-03-02 23:05] shadowcodex commented on #500
We could write it out to an archived log file before forcing the rollback.

[2017-03-03 14:21] Cu4rach4 commented on #504
I find a way, but i need some help.

How can i reach or use a real network subnet from AWS on my docker, something like a bridge interface?

I tried to create one, but i can't setting up in docker reboot.

[2017-03-03 17:26] ghost opened #505 "Verifying deployment: FAILED because of const unicodeNormalizePath = (path) => { Unexpected token >"
my global node version is and meteor version is 4.7.3
npm v4.3.0
Here is mupx log

[146.185.183.65] npm WARN deprecated on Windows, run them from an Administrator prompt.)
[146.185.183.65] npm WARN deprecated
[146.185.183.65] npm WARN deprecated If you're running the version of npm bundled with
[146.185.183.65] npm WARN deprecated Node.js 0.10 LTS, be aware that the next version of 0.10 LTS
[146.1

[2017-03-03 20:11] Cu4rach4 commented on #505
Change node version, use nvm to install version stable or 4.7.2.

[2017-03-03 20:44] zodern commented on #505
Are you using mup or mupx? It looks like the server has the wrong node version.

[2017-03-04 01:45] zodern commented on #484
Version 1.2.3 was just published with a fix.

[2017-03-04 01:45] #484 closed, assigned to nobody

[2017-03-04 14:49] jyoti-openair commented on #505
I'm using mupx, I updated node to 4.7.2 but the problem persisted so I updated it to 6.10.0 still same problem.

[2017-03-04 17:36] Cu4rach4 commented on #505
npm v4.3.0
Here is mupx log

You are using MUPX, so you need to run with node 0.10.44.-

[2017-03-04 17:38] Cu4rach4 commented on #503
Why you want this?, if you want to uss this, maybe you need to deploy meteor app with direct docker + nginx + passenger.

[2017-03-04 20:00] zodern commented on #505
@jyoti-openair what meteor version are you using? It looks like you are using Meteor 1.4, which mupx doesn't support. If that is the case, you will need to migrate to mup. The readme has a migration guide.

[2017-03-04 20:08] Sphinxxxx commented on #52
For the record: Deploying multiple apps to the same server, giving each app ***separate*** databases on `localhost` seems to work just fine. The `mup.js` files need to have the same `mongo` configuration:

**my-app-111:**

    module.exports = {
      servers: {
        one: {
          ...
        }
      },

      meteor: {
        name: 'my-app-111',
        path: '../',
        docker: {

[2017-03-04 22:52] kalepail opened #506 "Tailing logs not working"
mup logs --tail=50 vs mup logs --tail=100 yields the same result.

[2017-03-05 04:11] jyoti-openair commented on #505
ok. I performed migration steps. Now Im getting

Error starting userland proxy: listen tcp 0.0.0.0:80: bind: address already in use.

I have few sites hosted via nginx in port 80. How can I fix this ? Can I change the port ? Because when I change port of my existing sites, its not pointed correctly untill its port 80, so I cannot change anything out there

[2017-03-05 13:57] AhmedKanany commented on #204
Hello ,
could you give me code example to set my own timezone please ?

[2017-03-06 02:09] Cu4rach4 commented on #505
You can setting up the port to use on your mup.js.

[2017-03-06 03:02] jyoti-openair commented on #505
I have set PORT 3000 already, I'm not sure where the issue was so I tried,
pm2-meteor, now I have deployed using it

On Mar 6, 2017 7:54 AM, "Jose A. Arellano Vega" <notifications@github.com>
wrote:

[2017-03-06 03:22] zodern commented on #505
@jyoti-openair did you also have mup setup `ssl`? That would have been using port 80.

[2017-03-06 03:26] jyoti-openair commented on #505
No there is no ssl, this is my mup setup

[code]

[2017-03-06 03:30] zodern commented on #505
It's missing `meteor.env.PORT`, but if that was set `mup` shouldn't have been using port 80.

[2017-03-06 04:28] zodern commented on #506
If you run `docker logs <app-name> --tail=50` and `docker logs <app-name> --tail=100` on the server, do they give the same output?

[2017-03-06 08:29] jyoti-openair commented on #505
Hi, thanks! @zodern that was the catch, mup and PORT environment along with I had to remove node_modules and reinstall. Had to switch back to mup from pm2 as, there were mongo error could be because of less memory. Will see how it goes with mup.

[2017-03-06 10:14] juliancwirko opened #508 "Services down when not visited (or droplet overloaded)?"
Hi, I have a strange issue. My services when not visited are down. When I enter them I need to refresh couple of times to get them working. This is the same server (Ubuntu 14.04.4 x64) on which I have other Meteor apps deployed with old Mupx tool and they seems to work well. Could it be something with Mup or is this a standard behavior when the DO droplet is overloaded?

[2017-03-06 10:24] maryito opened #509 "deploy error digitalocean"
I try to deploy to the server but when it is Checking the Deployment: FALLED shows me that

` ERR! There is likely additional logging output above.

	npm ERR! Please include the following file with any support request:
	npm ERR!     /bundle/bundle/programs/server/npm-debug.log

	node-pre-gyp ERR! Tried to download: https://github.com/kelektiv/node.bcrypt.js/releases/download/v1.0.2/bcrypt_lib-v1.0

[2017-03-06 13:30] erperejildo opened #510 "Mup setup Windows issue"
I'm testing Mup with Windows and Mac.

mup setup does nothing on Windows. Same file (pulled and pushed) does normal setup on Mac

[2017-03-06 14:03] erperejildo commented on #370
I did the same but stil having same issue. Not using ssh key

Edit: working now, I was doing this change on my local machine

[2017-03-06 15:19] erperejildo opened #511 "Can't deploy"
After run mup deploy I get this (it takes a while):
[code]

[2017-03-06 15:43] zodern commented on #511
Are you able to ssh into the server?
How many times did you try to deploy and got that error?
Do you have the progress bar enabled in your config?

[2017-03-06 15:49] erperejildo commented on #511
I'm able to login with my ssh key, but I'm trying the easier way right now to check the setup was ok.
I tried this just once.

Shall I change to ssh?

[2017-03-06 15:52] JohnAllen commented on #511
I've gotten that with a slow or intermittent upload speeds.  Move closer to your router or otherwise improve your signal if you can.

[2017-03-06 15:56] JohnAllen commented on #509
Are you sure `bcrypt` is installed properly locally before deploying?  Does your app run correctly locally?  Maybe try `meteor npm install --save bcrypt` if you haven't already?

[2017-03-06 16:21] erperejildo commented on #511
My broadband connection is too bad. Could I do same deploy with gitlab-ci on pipelines?

[2017-03-06 16:31] zodern commented on #511
That should work. Remember to have it install meteor first.

[2017-03-06 16:46] erperejildo commented on #511
Where do I need to install Meteor? mup.js, .gitlab-ci.yml, server...

Sorry but still struggling with Meteor deployment after many days and every step sounds totally different to previous one.
What I'd like is push my commits to master and from this update my code and restart the app on my server (DigitalOcean). This server has everything configured (or that's what I thought because only can see N

[2017-03-06 17:23] joaolboing commented on #478
This seems to be a docker bug.
When the container is removed, docker sometimes can't disconnect the container from the network
I run on the server:
[code]
Then I can deploy normally

What can be done is to update the startup script to include the command above after the 'docker rm -f AppName'

[2017-03-06 17:29] shadowcodex commented on #510
Maybe use `mup.cmd` instead on windows?

Based off of this: https://github.com/zodern/meteor-up/issues/487

[2017-03-06 17:31] shadowcodex commented on #508
Before you enter them, could you check `docker ps` and see if all the docker containers are running correctly?
Possibly dump out your `docker <container-name> logs` here for us to look at?

[2017-03-06 17:35] #505 closed, assigned to nobody

[2017-03-06 17:38] shadowcodex commented on #503
I think passenger is out of scope for meteor up atm.

[2017-03-06 17:39] #469 closed, assigned to nobody

[2017-03-06 17:40] #471 closed, assigned to nobody

[2017-03-06 17:40] #503 closed, assigned to nobody

[2017-03-06 17:40] Twisterking commented on #478
@Cu4rach4 My Swap is pretty much empty, about 3.5 GB free! ;)
@joaolboing thanks for that input! I trust you on this and integrate this and make a PR as this seems totally resonable!
EDIT: Just saw you already created a PR! Thanks!

[2017-03-06 17:40] #481 closed, assigned to nobody

[2017-03-06 17:41] qrobin opened #512 "Verifying Deployment goes forever after updating mup"
For some reason `Verifying Deployment` goes forever after updating mup. Can it be caused by last update or it's likely my app issue?

[2017-03-06 17:41] shadowcodex commented on #512
How long do you have the timeout set to?

[2017-03-06 17:43] qrobin commented on #512
`deployCheckWaitTime: 60`, but it just goes forever, not 60s

[2017-03-06 17:47] qrobin commented on #512
Sorry, it was my app issue. I tried to add CORS header

[code]
Seems it doesn't work this way. Thanks for fast response, @shadowcodex

[2017-03-06 17:47] kalepail commented on #506
Nope. 100 lines vs 50 lines. Though today it seems to be working.. /shrug

[2017-03-06 17:47] #506 closed, assigned to nobody

[2017-03-06 17:57] #512 closed, assigned to nobody

[2017-03-06 17:58] erperejildo commented on #510
Thanks bud!

[2017-03-06 17:58] #510 closed, assigned to nobody

[2017-03-06 18:00] juliancwirko commented on #508
Could it be related to :
[code]
From version 1.2.3 changelog?
Because maybe this is the case here.

[2017-03-06 18:03] zodern commented on #508
Run `docker ps` on the server and see if any of the containers have restarted.

[2017-03-06 18:08] juliancwirko commented on #508
Ok, it looks like two of them which runs on `abernix/meteord:base` (deployed with this mup) restarted (5h ago) and others which run on `meteorhacks/meteord:base` are fine and not restarting for months.

[2017-03-06 18:19] juliancwirko commented on #508
Also, there isn't anything special under `docker logs --since 10h <container-name>` just npm logs because I've deployed the site in the meantime. But it could be wrong command, I am not very experienced docker user ;) `docker <container-name> logs` doesn't work for me :/

[2017-03-06 20:18] thsowers opened #515 "Add support for ZSH"
As mentioned in #448, changing the default shell from bash to zsh causes an error similar to

[code]

[2017-03-06 20:56] shadowcodex commented on #478
PR Merged.

[2017-03-06 20:56] #478 closed, assigned to nobody

[2017-03-06 20:58] #455 closed, assigned to nobody

[2017-03-06 21:07] #414 closed, assigned to nobody

[2017-03-06 22:52] zodern commented on #407
This looks like a bug with meteor or your app and not with mup.

[2017-03-06 22:52] #407 closed, assigned to nobody

[2017-03-06 22:52] zodern commented on #100
Deploying to multiple servers should work.

[2017-03-06 22:52] #100 closed, assigned to nobody

[2017-03-06 23:18] btbjosh commented on #509
I get this problem on my deploys too. Although I can deploy on a 1gb droplet instance just fine. Has anyone successfully gotten this to deploy to DO on a 512 instance?

[2017-03-07 00:57] JohnAllen commented on #509
Seems like it should although I guess you couldn't have tons of users
depending on the number of subscriptions you'll have.

On Mar 7, 2017 6:18 AM, "Josh" <notifications@github.com> wrote:

[2017-03-07 01:37] #187 closed, assigned to nobody

[2017-03-07 02:36] #191 closed, assigned to nobody

[2017-03-07 14:10] btbjosh commented on #509
Yeah, I'm only trying to do it (on a 512) for an internally used app for our small company. Up until I upgraded to meteor 1.4.x it has worked just fine (thought that was with mupx and without all the es6 stuff)

[2017-03-07 14:16] zodern commented on #509
In the log posted by @maryito it didn't have enough time to finish building bcrypt. Try adding another 60 seconds to the `deployCheckWaitTime`

[2017-03-07 14:20] zodern commented on #194
It is documented in their [wiki](https://github.com/VeliovGroup/Meteor-Files/wiki/MeteorUp-(MUP)-Usage).

[2017-03-07 14:20] #194 closed, assigned to nobody

[2017-03-07 14:32] btbjosh commented on #509
I had it set to 120 at one point, which did not help. I think it actually gets done with the `bcrypt` stuff because it goes well past this line:
  ` make: Leaving directory '/bundle/bundle/programs/server/npm/node_modules/bcrypt/build'`

Then I get:

    x Verifying Deployment: FAILED

	-----------------------------------STDERR-----------------------------------
	rver/npm/node_modules/qs
	request@

[2017-03-07 14:33] #462 closed, assigned to nobody

[2017-03-07 14:42] #406 closed, assigned to nobody

[2017-03-07 14:43] zodern commented on #404
This issue can be reopened if anyone still encounters this.

[2017-03-07 14:43] #404 closed, assigned to nobody

[2017-03-07 14:49] zodern commented on #478
I encountered this error for the first time today, and the PR fixed it.

[2017-03-07 14:53] zodern commented on #515
The problem is that whenever [list.executeScript is used](https://github.com/zodern/meteor-up/blob/master/src/modules/meteor/index.js#L199) it runs the script in the default shell instead of bash.

[2017-03-07 14:53] btbjosh commented on #509
Ugh. I just resolved it... after googling this error:

`mup UnhandledPromiseRejectionWarning: Unhandled promise rejection`

Turns out I had my ROOT_URL not set to `https` and just `http`.

[2017-03-07 14:54] #509 closed, assigned to nobody

[2017-03-07 14:54] shadowcodex commented on #509
Glad to see you got it resolved

[2017-03-07 14:56] shadowcodex commented on #515
And that is part of a package we depend on and don't have control over, right? NodeMiral if I remember correctly.

[2017-03-07 14:58] shadowcodex commented on #497
Do you want me to just push this as a commit instead of a PR?

[2017-03-07 15:24] zodern commented on #497
A commit is fine. I would like to discuss some of the content first.

- One thing that concerns me is is mup really the fastest way to deploy meteor apps? Compared to other options of deploying to a vps, it probably is. But I don't think it is compared to using a PaaS.
- Please remove the x from the "Heads up!" box
- You can also remove the navbar since it only has the one link.

I would prefer it

[2017-03-07 15:28] #182 closed, assigned to nobody

[2017-03-07 15:42] shadowcodex commented on #497
Alright, good changes.

[2017-03-07 15:46] #4 closed, assigned to nobody

[2017-03-07 15:47] #106 closed, assigned to nobody

[2017-03-07 15:48] #109 closed, assigned to nobody

[2017-03-07 15:48] shadowcodex commented on #109
You are free to reopen this issue if this problem still persists.

[2017-03-07 15:49] #119 closed, assigned to nobody

[2017-03-07 15:50] #146 closed, assigned to nobody

[2017-03-07 15:50] shadowcodex commented on #167
You are free to reopen this issue if this problem still persists.

[2017-03-07 15:50] #167 closed, assigned to nobody

[2017-03-07 15:51] shadowcodex commented on #169
Probably this is due to different server configs and hardware configuration. You are free to reopen this issue if this problem still persists.

[2017-03-07 15:51] #169 closed, assigned to nobody

[2017-03-07 15:52] shadowcodex commented on #172
You are free to reopen this issue if this problem still persists.

[2017-03-07 15:52] #172 closed, assigned to nobody

[2017-03-07 15:53] #181 closed, assigned to nobody

[2017-03-07 15:53] zodern commented on #515
It is possible to register new commands with nodemiral. We could need to create a new command that forces the script to be run in bash.

[2017-03-07 15:53] #177 closed, assigned to nobody

[2017-03-07 15:53] #198 closed, assigned to nobody

[2017-03-07 15:54] #218 closed, assigned to nobody

[2017-03-07 15:54] shadowcodex commented on #218
You are free to reopen this issue if this problem still persists. There have been a lot of improvements made since the end of this thread.

[2017-03-07 15:55] #252 closed, assigned to nobody

[2017-03-07 15:55] shadowcodex commented on #252
You are free to reopen this issue if this problem still persists.

[2017-03-07 15:55] shadowcodex commented on #256
Let's Encrypt autogenerate is now available. You are free to reopen this issue if this problem still persists.

[2017-03-07 15:55] #256 closed, assigned to nobody

[2017-03-07 15:56] shadowcodex commented on #255
Let's Encrypt Autogenerate is now available and recommended. Base DO ubuntu server works fine for all of my deployments. You are free to reopen this issue if this problem still persists.

[2017-03-07 15:56] #255 closed, assigned to nobody

[2017-03-07 15:57] shadowcodex commented on #209
Is this still a vulnerability?

[2017-03-07 15:58] shadowcodex commented on #209
@zodern have you looked into this already?

[2017-03-07 15:58] #214 closed, assigned to nobody

[2017-03-07 15:58] zodern commented on #209
It is. Switching to `nginx-proxy` will fix this.

[2017-03-07 15:59] shadowcodex commented on #263
Clean up is on a milestone and tracked via this issue: https://github.com/zodern/meteor-up/issues/482

[2017-03-07 15:59] #263 closed, assigned to nobody

[2017-03-07 16:00] #267 closed, assigned to nobody

[2017-03-07 16:02] shadowcodex commented on #269
Check out the readme now, and this PR: https://github.com/zodern/meteor-up/pull/317. If the issue still persist please feel free to reopen this issue.

[2017-03-07 16:02] #269 closed, assigned to nobody

[2017-03-07 16:05] zodern commented on #269
For future reference: There strangely is no documentation on mobile settings in the meteor docs or guide. The only thing I have found is in their cli help where it says:

[code]

[2017-03-07 16:39] #355 closed, assigned to nobody

[2017-03-07 20:51] shadowcodex commented on #497
Pull request active: https://github.com/zodern/meteor-up/pull/517

[2017-03-07 20:53] shadowcodex commented on #487
Merged: https://github.com/zodern/meteor-up/pull/516

[2017-03-07 20:53] #487 closed, assigned to nobody

[2017-03-07 21:14] #497 closed, assigned to shadowcodex

[2017-03-07 21:16] shadowcodex commented on #474
Would running `meteor npm install` in some way cause an unexpected effect against a meteor project? Like if someone removed manually a package but left it in packages.js?

Would it be best to outline how to add meteor up to a CI system?

[2017-03-07 21:18] shadowcodex opened #518 "LICENSE"
Currently I don't see a license defined for the repo. Should we add a license, and which one do we want to add if we do?

I prefer the MIT license, but that's just my personal preference.

[2017-03-07 21:21] shadowcodex opened #519 "WIKI"
The wiki was last updated in April of 2016. Should we delete it's content since it isn't fully up to date with readme.md?

We can discuss alternatives to it in another issue thread later.

[2017-03-08 12:33] zodern commented on #518
In the package.json, it says the license is MIT. I would like to add a license file to make that more obvious. I probably need to ask @arunoda who the copyright holder is. On arunoda/meteor-up, it is MeteorHacks, but for most of the kadirahq projects it was kadirahq.

[2017-03-08 16:36] yogiben opened #520 "Set up SSL, but allow HTTP traffic as well"
I want to set up a server which has both https and http.

This is for connecting to it via DPP.

How to configure a cert, but also allow traffic for HTTP?

[2017-03-08 19:32] shadowcodex commented on #518
sounds good

[2017-03-08 22:07] danielbressan opened #521 "Redirect http to https or turn on nginx"
This is probably me missing something, so hopefully a quick answer will do; I just couldn't find the answer searching around setup/issues.

My app isn't correctly redirecting 80 traffic to 443. My ssl is working if you specifically go to https:// but somewhere I must have deleted a line in mup.js or something.

1) What goes in mup.js to force this redirect?
2) OR how can I turn off the built in fr

[2017-03-08 22:17] zodern commented on #521
Are you using custom certificates or let's encrypt? I think the nginx container used for let's encrypt does this by default.

You can add the [force-ssl](https://atmospherejs.com/meteor/force-ssl) package.

[2017-03-08 22:24] danielbressan commented on #521
Yeah I have in my mup:
[code]

So is that what's creating the nginx container?

[2017-03-08 22:25] zodern commented on #521
Yes

[2017-03-08 22:26] shadowcodex commented on #521
I recommend the force-ssl package as well. https://atmospherejs.com/meteor/force-ssl

[2017-03-08 22:32] zodern commented on #520
If you use custom certificates instead of let's encrypt, it will work.

[2017-03-08 22:34] zodern commented on #519
I removed the wiki.

[2017-03-08 22:34] #519 closed, assigned to zodern

[2017-03-08 22:44] zodern commented on #482
In 1.2.4, the default path for builds uses the app's absolute path as a seed when creating the uuid, so the build path will always be the same for the app. As long as you don't move the app there will only be one bundle remaining after builds.

[2017-03-08 22:44] #482 closed, assigned to nobody

[2017-03-08 22:56] danielbressan commented on #521
Awesome! For now, I just removed the 'ssl:' tags from mup.js and it allowed my to run my own nginx. I'll look into force-ssl though. Does it just 'do it for you' or what's it's benefit from using my own nginx frontend?

[2017-03-09 02:00] zodern commented on #474
We do need to do that.

@WayneUong would a predeploy hook as proposed in #65 work?

[2017-03-09 09:21] muninn9 opened #523 "Build Error: --server-only: option unknown"
I'm tried deploying for the first time with "mup deploy" and this is what it gave me in the output:

[code]

And here's what I had for `buildOptions` in `mup.js`:

[code]

Then, after trying to deploy again it silently fails, immediately, with no error message. Any suggestions?

[2017-03-09 09:35] yogiben commented on #520
Thanks.

I know this might be asking a lot, but is it possible to use the let's encrypt functionality AND solve this problem?

If you point me to the part of the code that sets up the HTTP -> HTTPS redirect, I could probably do a PR with a `forceSSL` option.

[2017-03-09 12:11] muninn9 commented on #523
Here's what I figured out in case anyone else has this problem:

I simply removed the `buildOptions` property which took care of the error message. It was silently failing because I left out `servers: { one: {} }` under the `mongo` property (see below).

[code]

After I did this it successfully pushed the app bundle to the server.

[2017-03-09 12:11] #523 closed, assigned to nobody

[2017-03-09 13:01] zodern commented on #520
I just found that it doesn't force ssl when using let's encrypt: https://github.com/zodern/meteor-up/blob/master/src/modules/meteor/assets/templates/start.sh#L90.

[2017-03-09 13:01] #520 closed, assigned to nobody

[2017-03-09 14:23] shadowcodex commented on #521
It just does it for you, I believe. Simple, easy, clean setup.

Force SSL would be something in the future that could be passed in with an Nginx config file. Which we are working on getting setup in https://github.com/zodern/meteor-up/pull/496.

[2017-03-09 14:24] shadowcodex commented on #515
@thsowers would you like to do a PR for this new command?

[2017-03-09 14:27] shadowcodex commented on #511
I don't know of any tutorial, but using gitlab CI you would need to do the following.

**Assuming your project is pushed to the CI, and you have already done `mup setup` on the server**

1. Install Meteor
2. Install Mup
3. Run `mup deploy` command

[2017-03-10 03:29] iAssureIT opened #524 "Meteor mup deploy error"
I am deploying simple meteor app on AWS EC2 Ubuntu server. I did **mup setup** command. It worked fine.
But I am getting following error on **mup deploy** command, as follows. Need urgent help on this.

[code]

Node  v7.7.6
NPM  v4.1.2

My mup.js file is as follows:

[code]

[2017-03-10 03:31] zodern commented on #524
The spawn error usually happens when meteor is not installed, or your path to the app is incorrect.

[2017-03-10 03:39] iAssureIT commented on #524
Thank you for quick reply zodern!
I was following some tutorials over internet for meteor deploy. I did install nodejs, npm and mup. Thought that should be sufficient. But now I installed meteor & mongodb on ubuntu server like

`curl https://install.meteor.com | /bin/sh`

`sudo apt-get install mongodb`

Now I tried again **mup setup** and **mup deploy** commands. Again got different type of error

[2017-03-10 03:43] zodern commented on #524
Try deleting everything in `/var/meteor/test/.meteor/local/dev_bundle`.

[2017-03-10 03:52] iAssureIT commented on #524
zodern, you are simply great!
I deleted everything that started with dev_dundle (1 directory & 3 files found) in .meteor/local.
Now '**meteor deploy**' command worked successfully.

Thank you very very much, zodern!

[2017-03-10 03:54] zodern commented on #524
I'm glad you got it working!

I added a section about the spawn error to the troubleshooting guide in the readme.

[2017-03-10 03:54] #524 closed, assigned to nobody

[2017-03-10 05:32] ziedmahdi commented on #420
any luck with this?

[2017-03-10 05:37] trsh opened #525 "MONGO_URL arrival"
So my apps don't use DB at all, but I must set this option. To what? Previous MUP releases didn't require such option. How to migrate now?

[2017-03-10 12:43] yogiben opened #526 "How to access nginx logs"
I've been getting `500 Internal Server Error`

Nothing shows up in the `mup logs`. How do I access the nginx logs?

[2017-03-10 14:13] zodern commented on #526
nginx container for let's encrypt:
`docker logs <appname>-nginx-proxy`

nginx container for custom ssl certificates:
`docker logs <appname>-frontend`

Run the command on the server.

[2017-03-10 14:35] zodern commented on #525
Meteor requires a MongoDB to work. Mupx would set `MONGO_URL` for you.

Add the `mongo` config to your `mup.js`:
[code]

And set `MONGO_URL` to 'mongodb://localhost/meteor'

And then run `mup setup` and `mup deploy`

[2017-03-10 14:42] zodern commented on #420
This is from docker unable to connect to docker.io. Trying again later usually works.

The docker error "flag provided but not defined" seem to be from the server having an old version of docker. If anyone gets this error, please post the version of docker on the server here.

[2017-03-10 14:52] erperejildo commented on #511
Thanks for your answer @shadowcodex.
So running `mup deploy` I'll push my code to Gitlab? I thought it was pushed to my server.

What I don't understand then is why we need a `yml` file on Gitlab to configure our server settings.

Also if I need to push my code to develop and just deploy when I push to master I should do git `push origin develop` and `mup deploy` which sounds confusing or not easy

[2017-03-10 14:52] srimenow commented on #420
As I stated on another thread you should remove Mup from your system, reinstall it, and create a new digital ocean / cloud provider of choice instance to see if that fixes the issue.

I had to do both, some people only have to reinstall mup, let us know if you did this and still have the issue.

Also please note don't just destroy your instance and create a new one, you need a fresh droplet with a

[2017-03-10 19:27] zodern commented on #336
Version 1.2.4 will have a `--cached-build` flag to skip the build.

[2017-03-10 19:27] #336 closed, assigned to nobody

[2017-03-10 19:32] zodern commented on #305
In version 1.2.4, you will be able to use the `--cached-build` flag to skip rebuilding.

[2017-03-10 19:32] #305 closed, assigned to nobody

[2017-03-10 19:33] zodern commented on #448
In 1.2.4, you should no longer see this.

[2017-03-10 19:33] #448 closed, assigned to nobody

[2017-03-10 19:34] etyp commented on #336
@zodern let me know if you need any help with getting 1.2.4 out the door (triage, documentation, etc .)

[2017-03-10 19:39] zodern commented on #336
There is only one bug left, and fixing the tests.

[2017-03-11 11:54] trsh commented on #525
MONGO_URL=mongodb://localhost/meteor stopped working form me, when I introduced accounts-base meteor package. It requires DB. So I need to setup one now manually? I tough meteor does it for you.

[2017-03-11 19:29] iAssureIT opened #527 "Error while deploying multiple meteor apps"
Hi,
I am trying to deploy multiple meteor apps on AWS Ubuntu server using Nginx. I am getting error while doing **mup deploy** for app#2.
node v7.7.2
npm 4.1.2

**App#1**
My first app1 is working fine on site1.
App#1, which is working fine, is using meteor PORT: 3000 and mongo PORT: 27017.

**App#2**
App#2, which is giving above error, is using meteor PORT: 3003 and mongo PORT: 27021.
App#2 is giv

[2017-03-11 21:15] nadeemja opened #528 "503 Service Temporarily Unavailable"
HI,

I'm getting "Verifying Deployment: SUCCESS", and all my logs (nginx, letsencrypt, app) are error free.

However, I'm stilling getting "503 Service Temporarily Unavailable"

Please help me debug this. I'm using the latest mup, and meteor 1.4.2.7.

[2017-03-11 22:23] nadeemja commented on #528
Ok. The issue was having Cloudflare enabled while generating the SSL certificate.

I'm guessing the app is going to break when it's time for renewal.

Could you add Cloudflare support using the webroot command?
https://support.cloudflare.com/hc/en-us/articles/214820528-How-to-Validate-a-Let-s-Encrypt-Certificate-on-a-Site-Already-Active-on-Cloudflare

[2017-03-11 22:33] thijssmudde opened #529 "Docker: No Such Container"
Deploying to my server results in the following error. It was working flawlessly until tonight.

[code]

After stopping "/myroutes" container on the server (docker stop "/myroutes")

[code]

What do I need to do to fix this?

[2017-03-11 22:42] thijssmudde commented on #529
Also, any communication with the docker container doesnt pan out:
[code]

[2017-03-12 02:34] zodern commented on #528
It uses [simple_le](https://github.com/kuba/simp_le) which only uses webroot.

[2017-03-12 02:39] zodern commented on #529
Try restarting docker with `service docker restart`

[2017-03-12 02:43] zodern commented on #527
If you are deploying both apps to the same server, the mongo port needs to be the same.

Please show more of the logs.

[2017-03-12 02:52] zodern commented on #525
What do you mean by it stopped working? Is mongodb running on the server? You can find out by running `docker ps` on the server and checking for a container named `mongo`.

If you add `mongo` to your config and run `mup setup`, meteor up will setup MongoDB for you. Meteor only does it during development.

[2017-03-12 03:03] zodern commented on #277
If the build gets canceled during upload, start, configuring or during verify, there shouldn't be any extra files, and if there are they will get removed during the next deploy.

[2017-03-12 03:03] #277 closed, assigned to nobody

[2017-03-12 07:26] thijssmudde commented on #529
@zodern Thank you! This worked.

[2017-03-12 08:30] nadeemja commented on #528
Strange!

Only after I turned off Cloudflare did "mup deploy" work. After that I could turn it on again just fine.

How do we diagnose this?

Please let me know which tests I should run and I'll post the results here.

[2017-03-12 13:51] #529 closed, assigned to nobody

[2017-03-12 16:43] ivanthemeh commented on #527
@iAssureIT can you show that it is changing your ports in the docker config? Im having an issue with even SETTING the PORT... Anytime I change it its does nothing to the docker containers and givers me a error on deploy with no error messages and still deploys the app..
@zodern any ideas, Ive tried dropping the ssl and it still does absolutely nothing when I add env.PORT?

[2017-03-12 17:41] zodern commented on #527
@ivanthemeh at what step of the deploy process does it give you an error? If you run `docker ps` on the server, it should show something like ` 0.0.0.0:3000->80/tcp` under `PORTS`, where 3000 would be the port you set.

[2017-03-12 17:44] ivanthemeh commented on #527
@zodern it is showing me that but its not connecting at all, even when I setup the reverse proxy its not working.

[2017-03-12 18:09] ivanthemeh commented on #527
@zodern ok Ive got it working with two apps but my second app for some reason is a duplicate of the other one even though I deployed a different app..

[2017-03-12 18:22] iAssureIT commented on #527
@zodern,
I changed the mongo port to 27017 for both apps.
Now my **mup deploy** command is hanging forever. It is not responding at all.
I thought it must be issue with something else... So I did following

At project's root folder
[code]

Again tried... Nothing worked..
Then I reinstalled Meteor by using
`curl https://install.meteor.com/ | sh`

Again did **meteor update** at project folder. Nothi

[2017-03-12 18:25] zodern commented on #527
At what step is it hanging?

[2017-03-12 18:28] zodern commented on #502
We could add a `--verbose` flag. The spawn process for the meteor build would have to have it's stdio set to 'inherit', and set the `METEOR_HEADLESS` env variable.

I also would like the `--verbose` flag to show the output from scripts run on the server in real time.

[2017-03-12 18:35] ivanthemeh commented on #527
@zodern I got it working, Im guessing I have to set up the letsencrypt myself?

[2017-03-12 18:58] iAssureIT commented on #527
It is hanging when I try to execute command of
**mup deploy**

Then it says..
**`Building App Bundle Locally`**

And then it hangs forever...   It tried it 10+ times.. but everytime it is hanging.

Ideally, some output should come after every couple of seconds, to indicate something is happening during deploy. It would be great if some progress bar is shown while "mup deploy" is getting executed.

[2017-03-13 08:37] EmirGluhbegovic commented on #54
Hey People, I assume that Lets Encrypt is now usable with Zodern-Meteor up. Is there link anywhere how to set it up?

[2017-03-13 10:46] mokaid opened #531 "Verifying Deployment Fails Again !!!"
Hello ,
I've struggling for more than 7 days , Meteor forums members are not supportive at all .. hope I can find a solution here . After the last the update with meteor 1.4.3.1 and mup 1.2.3
Everything locally is working perfectly , when it comes to deployment , I am facing a problem at the verifying stage ,
Server Settings  : 512 MB Memory / 20 GB Disk / LON1 - Ubuntu 16.04.2 x64 - Digital Ocean

[2017-03-13 11:53] zodern commented on #54
https://github.com/zodern/meteor-up#autogenerate-certificates

[2017-03-13 12:15] zodern commented on #531
A similar error was reported in https://github.com/meteor/meteor/issues/7401 when using the same package. You could try manually fixing the bin path as mentioned in https://github.com/meteor/meteor/issues/7401#issuecomment-232421798.
Another option might be to change the docker image to `abernix/meteord:binbuild`

[2017-03-13 14:00] mokaid commented on #531
Hello
@zodern
Under the path  :

current/bundle/programs/server/npm/node_modules/sshpk

 I did try the image you suggested and checked the packages.json file of sshpk and by default it looks like that :
  "bin": {
    "sshpk-conv": "bin/sshpk-conv",
    "sshpk-sign": "bin/sshpk-sign",
    "sshpk-verify": "bin/sshpk-verify"
  },

but still i am facing the same problem

I found the same package unde

[2017-03-13 14:17] zodern commented on #527
@iAssureIT I just released 1.2.4. Update mup with `npm install -g mup`, and try deploying with `mup deploy --verbose`. With the verbose flag it will show the output from `meteor build`

[2017-03-13 14:19] zodern commented on #324
@bilinkis did you find a solution?

[2017-03-14 04:03] iAssureIT commented on #527
Thanks @zodern !
I reinstalled mup 1.2.4. Also reinstalled node & npm.
Cleaned up all other PIDs related to docker. Then tried to deploy both projects again one by one.

**mup setup**  (Successful for both apps)
**mup deploy --verbose**   (My App1 is working fine. But 2nd App is showing error message as follows)
App#2 has following error

[code]

**This is the error I am getting from beginning.**

[2017-03-14 05:37] dannyd43 opened #532 "Having issues Deploying project"
The mup setup finishes successfully although i am not able to deploy the project.
any help would be wonderful!

ubuntu@ip:~/myTrends/deployment$ mup setup

Started TaskList: Setup Docker
[ec2-52-60-49-232.ca-central-1.compute.amazonaws.com] - setup docker
[ec2-52-60-49-232.ca-central-1.compute.amazonaws.com] - setup docker: SUCCESS

Started TaskList: Setup Meteor
[ec2-52-60-49-232.ca-central-1.com

[2017-03-14 05:57] #532 closed, assigned to nobody

[2017-03-14 06:55] iAssureIT commented on #527
@zodern, I stopped App#1 and now wanted to see if App#2 is working individually.
So I issued command **mup stop** to close app#1.
in app#2 folder, I did **mup setup** and **mup deploy --verbose**
it got stuck after showing the downloading meteor-tool as follows.

[code]

It got stuck at this place for long time... more often, we lost the connection due to timeout in PuTTy SSH connection.
Can **mup

[2017-03-14 14:23] zodern commented on #527
Are you able to run app#2 locally?

[2017-03-14 18:11] iAssureIT commented on #527
Yes, App#2 is working perfectly fine on Development Ubuntu environment.
Here are the output that I am getting for mup setup & deploy commands.

**It is failing in mup deploy step. Not understanding what is this error and how to resolve this.**

[code]

[2017-03-14 18:53] iAssureIT commented on #527
@zodern, the important part to note is that when I run the app with **meteor** command, I can see the app working fine on my url.
But when **mup deploy** command is issued, it is failing with above error.

[2017-03-15 02:30] zodern opened #533 "Website and docs"
Website:
- [x] Hero height should be `100 vh` with a min-height, and the content should be vertically centered
- [x] Improve responsiveness
- [x] Split "Easy Deployment using Docker" into a features and technologies used sections
- [x] Add getting started tutorial
- [x] Add docs pages
  - [x] Should have sidebar with the pages
  - [ ] ~There should also be a TOC for the page, either at the top or

[2017-03-15 03:23] zodern commented on #527
That's strange meteor build is exiting with an error code at that point in the build process.

Please try running `meteor build ../mup-build --architecture os.linux.x86_64 --server-only`
If that seems to run successfully, you can tell meteor up to use that build.
In your config, change `meteor.buildOptions.buildLocation` to `../mup-build` and run `mup deploy --cached-build`.

[2017-03-15 03:38] #502 closed, assigned to nobody

[2017-03-15 11:12] iAssureIT commented on #527
@zodern, GOOD NEWS!
All the above errors have gone, as soon as I increased the RAM size from 1GB to 4GB.
Now MUP DEPLOY is working very fine.
Thank you... Thank you... Thank you very much for all your help!

[2017-03-15 11:16] iAssureIT opened #534 "MongoDB data not accessible when used mup deploy"
I tried deploying my meteor app using 2 methods
1.  By simply typing  **meteor**  command. It builds and runs in the same way as it does on development machine.
2. By using **mup setup** and **mup deploy**.

**In method#1**, I could see all the data in the database. It was the data that we added on local machine. We could see that on server as it is.

**In method#2**, we see the whole data has gon

[2017-03-15 13:56] zodern commented on #360
I am not able to reproduce this. If buildLocation is set, it shouldn't put anything in temp.

[2017-03-15 13:56] #360 closed, assigned to nobody

[2017-03-15 14:32] edemaine commented on #360
Agreed; I think the last version fixed this?

[2017-03-15 15:30] JohnAllen commented on #534
Your `mongo` is run in a separate docker container.  See the README about accessing the mongo instance.

[2017-03-15 15:55] zodern commented on #321
This is the correct behavior. The first root url is the default which the value in the config overrides. When you are using the built-in mongodb, it adds another `MONGO_URL` that has the correct database name to override the user provided one.

[2017-03-15 15:55] #321 closed, assigned to nobody

[2017-03-15 16:37] maxlibin opened #535 "deploying problem"
can anyone help me take a look why when i do mup deploy, I received these error?
Verifying Deployment: FAILED

[code]

after stop and start aws again::

x copying mongodb.conf: FAILED
	Failure
(node:42301) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: Failure
(node:42301) DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promi

[2017-03-15 16:41] spk2piyu opened #536 "graphicsmagick on docker image"
How to install graphicsmagick into docker image? I am using mup to deploy my angular meteor app.

[2017-03-15 17:02] zodern commented on #535
You are using an old version of meteor-up. Please update by running `npm i -g mup`

[2017-03-15 17:06] zodern commented on #536
There are a few docker images that already have graphicsmagick installed.
https://hub.docker.com/r/oleurud/meteor-graphicsmagick/
https://hub.docker.com/r/qoxinc/meteor-graphicsmagick/

[2017-03-15 17:06] #536 closed, assigned to nobody

[2017-03-15 17:56] maxlibin opened #537 "file size"
Why meteor production using so much disk space? anyway to clean up?

Usage of /:   39.3% of 19.55GB

[2017-03-15 21:20] btbjosh commented on #521
@shadowcodex Any eta on how far out we are on #496 ? Thanks for the hard work!

[2017-03-15 22:15] zodern commented on #287
In the next release it will delete the old certificate and key before uploading. The validator currently warns about many problems with the SSL config.

[2017-03-15 22:15] #287 closed, assigned to nobody

[2017-03-16 05:31] albertonaperijr opened #538 "Remove/disable mongodb"
Hi,

I'm trying to remove/disable mongodb in my meteor project but when I deployed my app it threw an error ```Error: MONGO_URL must be set in environment```. Also, I tried setting `MONGO_URL` to `none` it threw `Error: URL must be in the format mongodb://user:pass@host:port/dbname`. Is there any way to completely disable mongodb?

Thanks.

[2017-03-16 14:27] LucasBassetti commented on #419
I have the same problem.

I have two meteor applications sharing one separate instance of mongodb in the same server. But when I try deploy I get the following error:
`failed to connect to server [127.0.0.1:27017] on first connect`

Anybody knows how to solve that?

[2017-03-16 17:53] WayneUong opened #539 "mup logs -f doesn't print out all logs"
It used to tail logs till the end, now there seems to be a limit on number of lines. And it also doesn't tail if the logs exceeds that limit.

[2017-03-16 18:45] tomyo commented on #407
@mroftalp, did you find out why?
I'm getting the same error in Galaxy, this is the closet thing I found on internet. (sorry MUP for the noise)

[2017-03-17 04:08] albertonaperijr opened #540 "Deploy client only"
Hi,

Is it possible or is there a way to deploy a meteor app with no back-end (client only) using meteor up?
I already tried deploying my meteor app without server code but it takes 100% cpu.

Thanks.

[2017-03-17 07:17] #538 closed, assigned to nobody

[2017-03-17 07:17] #540 closed, assigned to nobody

[2017-03-17 08:21] trsh commented on #525
OK. I'll try and report back.

[2017-03-18 05:21] dominicarrojado commented on #407
@tomyo No I didn't find out why, but it doesn't show up anymore. I need to clean up my codes too.

[2017-03-18 15:03] rohithb opened #541 "mup deploy fails silently after pushing the startup script"
I have been successfully using mup for deploying alpha versions of my meteor app.
But when I tried to deploy my latest version, mup exits after these messages

[code]
I tried updating mup,  I tried on a new EC2 instance also.  But no success.
mup works fine with one of my other project.

` mup logs --tail=100`  gives an error `Error: No such container: `.

I was using the same `mup.js` ( which was

[2017-03-18 15:39] lc3t35 commented on #537
@maxlibin could you be more precise ? why is this related to meteor-up ?

[2017-03-18 15:44] lc3t35 commented on #539
@WayneUong can you please give an example of truncated log ? I didn't find any limitation in the mup logs command

[2017-03-18 15:49] lc3t35 commented on #541
@rohithb can you please give a longer extract of mup logs so we can look what is surrounding the Error ? and your mup.js ?

[2017-03-18 16:52] rohithb commented on #541
A trailing comma in `settings.json ` was the problem.
I removed and reinstalled `mup 1.2.4`, its showed error in settings.json file.

[2017-03-18 16:52] #541 closed, assigned to nobody

[2017-03-18 22:15] WayneUong commented on #539
I can't give anything right now, as we're deploying pretty often and the logs get cleared each time. But if it gets too long I have to use `--tail` to get to the latest logs. Also, running `docker logs` directly on the server shows more logs than `mup logs` (only when it gets too long).

[2017-03-19 15:48] nilsi opened #542 ""Building App Bundle Locally" takes 15-20min"
Deploying works perfectly but I just wonder if it is supposed to take this long? I think it got slower recently. My computer is a macbook pro mid 2010.

[2017-03-19 18:20] zodern commented on #542
You can add the `--verbose` flag to see what `meteor build` is doing.

[2017-03-19 19:51] Twisterking commented on #475
+1 for being able to use my own nginx config file!
Why do I need this?
During downtimes or if something just goes badly wrong I would like to show a custom 502 error page instead of the standard "bad gateway" to show the users that there is something wrong and that the problem is being worked on. Even better would be to trigger a redirect in the nginx proxy in case of an 502 error to a predefined

[2017-03-20 06:02] JohnAllen commented on #537
Mongo uses quite a bit of disk space for each collection, at least it used to.  Are you sure this is a Meteor problem in the first place?

[2017-03-20 06:53] tanutapi commented on #534
You need to dump out your database from local development and restore it into your production server.

[2017-03-20 08:00] sirpy opened #543 "mup log tail seems to be reversed (head and not tail)"
when i ran mup logs --tail=50 to see the last error it seems like it showed me the head of the logs and indeed doing mup log --tail=1000 finally showed the last error

[2017-03-20 13:52] ghost opened #544 "Error response from daemon: endpoint [appname] not found"

[2017-03-20 14:17] zodern commented on #322
@sdabdoub did you find the export?

[2017-03-20 15:03] #393 closed, assigned to nobody

[2017-03-20 15:22] #527 closed, assigned to nobody

[2017-03-20 15:50] sdabdoub commented on #322
Yeah you can close this. I don't recall completely but it was hiding in plain sight

[2017-03-20 15:56] zodern commented on #544
`Endpoint not found` is normal.

The real problem is `Error starting userland proxy: listen tcp 0.0.0.0:80: bind: address already in use`. Are you deploying multiple apps to the server, or do you have something else running using port 80?

[2017-03-20 15:58] #322 closed, assigned to nobody

[2017-03-20 17:03] ilan-schemoul opened #545 "Does meteor deploy reconfig"
Is `meteor reconfig` pointless if I do I any way `meteor deploy` ?

[2017-03-20 18:23] zodern commented on #545
`mup reconfig` does everything `mup deploy` does except build and upload the app.

[2017-03-20 22:53] ilan-schemoul commented on #545
Okay so deploy also reconfig thanks

[2017-03-20 22:53] #545 closed, assigned to nobody

[2017-03-21 01:59] markreid opened #546 "meteor.ssl.upload property fails validation"
(MUP 1.4.2)

When supplying your own SSL cert and private key, the README states:

Adding `upload: false` to the config has the desired effect when you run `mup setup`, but it throws a validation error while running `mup deploy`:

[code]

Doesn't stop anything from working though.

[2017-03-22 00:28] WayneUong opened #548 "Load balancing multiple instances"
I can see that meteor-up supports deploying the same app to multiple servers or multiple instances per server. But how is it useful without a load balancer? Does meteor-up automatically setup an nginx balancer?

[2017-03-22 01:56] nloui opened #549 "503 deployment issue"
Hey there,

I'm able to run my app locally but for whatever reason, mup says that everything worked but it's responding with a 503 error.

The only funky thing I'm seeing is:

node-pre-gyp ERR! Tried to download(404): https://github.com/kelektiv/node.bcrypt.js/releases/download/v1.0.2/bcrypt_lib-v1.0.2-node-v46-linux-x64.tar.gz
node-pre-gyp ERR! Pre-built binaries not found for bcrypt@1.0.2 and no

[2017-03-22 03:16] markreid commented on #546
Added a PR if anybody wants to merge it.

[2017-03-22 16:43] #546 closed, assigned to nobody

[2017-03-22 18:21] WayneUong opened #550 "deploying 2 apps to the same server failed"
The first app works fine. The second app with port 8000 shows this error:
[code]

[2017-03-22 19:45] zodern commented on #550
The second app has mup setup ssl, which uses port 80.

[2017-03-22 20:12] zodern commented on #535
@maxlibin are you still having problems?

[2017-03-22 20:34] zodern commented on #539
@WayneUong The next time the logs gets too long, try running `DEBUG=* mup logs`. There will be a line starting with ` mup:utils getDockerLogs command:` that will contain the exact command it runs on the server to get the logs. Please try running the command and let me know if it shows the same logs as when running `mup logs`.

[2017-03-22 20:47] zodern commented on #537
@maxlibin You can run these commands to see what is using the space:
[code]

[2017-03-22 20:56] #193 closed, assigned to nobody

[2017-03-22 20:56] #207 closed, assigned to nobody

[2017-03-22 20:57] zodern commented on #207
It is not possible.

[2017-03-22 20:57] #295 closed, assigned to nobody

[2017-03-22 20:58] #300 closed, assigned to nobody

[2017-03-22 20:58] #298 closed, assigned to nobody

[2017-03-22 20:59] zodern commented on #303
@codeHatcher did you solve this?

[2017-03-22 21:01] zodern commented on #304
I have never used meteorhacks/cluster, but I think it will work after #248 is merged.

[2017-03-22 21:01] #304 closed, assigned to nobody

[2017-03-22 21:02] zodern commented on #312
@keyscores did you solve this?

[2017-03-22 21:07] WayneUong commented on #550
@zodern I tried the `autogenerate` option for ssl. Now the second add at port 8000 works. But the default app at port 80 shows: `503 Service Temporarily Unavailable nginx/1.11.10`

[2017-03-22 21:50] 0o-de-lally commented on #312
@zodern I honestly can't remember, but I don't think so. I abandoned MUP in favor of docker.  This is what I have been using: https://github.com/aedm/minimeteor

[2017-03-22 21:54] avishaan commented on #303
I created a new server and just did mup setup mup deploy and it seemed to work. Never truly figured it out but I appreciate the follow up

[2017-03-22 21:54] #303 closed, assigned to nobody

[2017-03-22 22:09] zodern commented on #312
Thanks for the update.

[2017-03-22 22:10] zodern commented on #301
@PolGuixe did you solve this?

[2017-03-22 22:11] zodern commented on #327
@tyvdh did you solve this?

[2017-03-22 22:13] #334 closed, assigned to nobody

[2017-03-22 22:16] zodern commented on #349
@genejr Ubuntu 16 is supported.

[2017-03-22 22:17] #349 closed, assigned to nobody

[2017-03-22 22:26] zodern commented on #550
Where are you seeing `503 Service Temporarily Unavailable nginx/1.11.10`?

[2017-03-22 22:33] zodern commented on #348
In the latest version, `mup reconfig` will update docker args.

[2017-03-22 22:33] #348 closed, assigned to nobody

[2017-03-22 22:43] #390 closed, assigned to nobody

[2017-03-22 22:49] #302 closed, assigned to nobody

[2017-03-22 22:52] #326 closed, assigned to nobody

[2017-03-22 22:53] #288 closed, assigned to nobody

[2017-03-22 22:55] #330 closed, assigned to nobody

[2017-03-22 22:56] #372 closed, assigned to nobody

[2017-03-22 22:56] #392 closed, assigned to nobody

[2017-03-22 22:59] #411 closed, assigned to nobody

[2017-03-23 00:00] #293 closed, assigned to nobody

[2017-03-23 00:01] #324 closed, assigned to nobody

[2017-03-23 00:01] WayneUong commented on #550
I tried to access the app via the public ip address

[2017-03-23 00:03] zodern commented on #342
There now is a `--verbose` flag that will show the output from `meteor build`. This issue can be reopened if anyone encounters this problem again.

[2017-03-23 00:03] #342 closed, assigned to nobody

[2017-03-23 00:05] zodern commented on #550
Could you please share your two configs?

[2017-03-23 00:05] #331 closed, assigned to nobody

[2017-03-23 00:13] WayneUong commented on #550
@zodern
App 1:
[code]
App 2:
[code]

[2017-03-23 00:45] zodern commented on #550
One problem is they are both using `ssl.autogenerate`. If you remove it from one of them, and then run `mup reconfig` for both, it should work. Currently only one app on a server can have mup setup ssl.

[2017-03-23 00:51] zodern commented on #544
Looks like it is missing part of the error message. Do you get the whole error when running `mup logs --tail=200`?

[2017-03-23 00:54] zodern commented on #548
Currently it doesn't. Mup 1.3 will focus on improving deploying to multiple servers, and I'm hoping to add load balancing.

[2017-03-23 00:55] zodern commented on #543
If you run `docker logs <appname> --tail=50` on the server, does it do this too?

[2017-03-23 02:52] #327 closed, assigned to nobody

[2017-03-23 02:53] kalepail commented on #327
Yeah all good.

[2017-03-23 04:29] PolGuixe commented on #301
@zodern I don't remember how I did it. The app is runing. I guess it can be closed.

[2017-03-23 12:05] #301 closed, assigned to nobody

[2017-03-23 13:52] giovapanasiti commented on #215
I get the same error on my virtual box and the kernel is: 4.4.0-31-generic

[2017-03-23 13:57] giovapanasiti opened #552 "Cannot connect to the Docker daemon. Is the docker daemon running on this host? on Verifying Deployment"
When I run `mup deploy` it crashes on "verifying deployment" and show this:

[code]

this is also the mup log:

[code]

I also update npm as the error suggest but nothing changed

[2017-03-23 17:28] WayneUong commented on #548
I managed to setup an AWS application load balancer. Is there a test to make sure that sticky sessions and websocket work? Thanks.

[2017-03-23 17:48] bennygenel commented on #548
Hi @WayneUong;

I'm currently trying to setup a load balancer for my app.

I tried to setup a basic Nginx load balancer but I couldn't figure out how o enable websocket myself too. I followed [this](http://nginx.org/en/docs/http/websocket.html) documentation but still its not working for me.
![scs](https://cloud.githubusercontent.com/assets/4287862/24262085/03787e3a-100a-11e7-86c6-7aaf94b7ab2a.jpg

[2017-03-23 20:52] WayneUong commented on #548
Hi @bennygenel

websocket seems to work fine for us:
<img width="665" alt="screen shot 2017-03-23 at 1 45 16 pm" src="https://cloud.githubusercontent.com/assets/8436742/24269654/569b9d6c-0fcf-11e7-9424-9aac92e9a694.png">

I haven't figured out how to test sticky sessions though. Our app has been functioning normally so far. The only problem I'm dealing with is syncing cron jobs between instances.

[2017-03-23 21:32] s-devaney commented on #364
please

[2017-03-24 01:02] zodern commented on #552
Did `mup setup` finish successfully?

[2017-03-24 01:11] zodern commented on #549
Are you using custom certificates or let's encrypt?

[2017-03-24 06:55] giovapanasiti commented on #552
Yes it did

[2017-03-24 18:45] nadeemja opened #553 ""Your app is using the "force-ssl" package, but ssl is not setup in your mup config.""
Hi,

Using latest version as of now.

I have the ssl option set correctly (worked previously without change).

Still I'm getting: Your app is using the "force-ssl" package, but ssl is not setup in your mup config.

And a 502 Bad Gateway even though everything says "Successful" during deploy.

[2017-03-24 20:07] zodern commented on #553
Do you remember what version were you using before? Could you please share the `meteor` section of your config?

[2017-03-25 14:46] martinhbramwell commented on #215
I gave up on `meteor-up` a long time ago.  Hopefully someone else can help ... but 80 unresolved issues! Yikes!

[2017-03-25 19:52] zodern commented on #544
Run `mup docker ps`, and make check that there is a running mongo container and it is exposing port 27017.

[2017-03-25 20:29] zodern commented on #552
If you run `service docker status` on the server, does it say it is active? If it is, how long was it active in relation to when you deployed?

To update the version of npm, you would need to use a docker image with a newer npm version.

If you are using a server with 512mb ram, or hosting multiple apps on the server, you could try increasing the server's ram.

[2017-03-26 06:51] sirpy commented on #543
non on the server it seems like it's doing indeed tail. the last line is always the same

[2017-03-26 13:29] skynightz93 commented on #553
Same problem here

[2017-03-26 18:50] zodern commented on #553
@nizulzaim could you please share the meteor section of your config? Is ssl also not working for you?

[2017-03-27 07:39] giovapanasiti commented on #552
I think the solution could be to use a new docker image. Do you know where I can find one?

[2017-03-27 07:55] andy4545 commented on #553
I am getting the same issue - suddenly after installing latest zodern/meteor-up, with latest meteor today.

[code]

[2017-03-27 08:12] andy4545 commented on #553
[code]

[2017-03-27 08:41] andy4545 commented on #553
IP] - Verifying Deployment
[IP] x Verifying Deployment: FAILED

        -----------------------------------STDERR-----------------------------------
        bin/node" "/usr/bin/npm" "install" "--unsafe-perm"
        npm ERR! node v4.8.0
        npm ERR! npm  v3.10.10
        npm ERR! code ELIFECYCLE
        npm ERR! meteor-dev-bundle@0.0.0 install: `node npm-rebuild.js`
        npm ERR! Exit statu

[2017-03-27 09:08] andy4545 commented on #553
I solved this issue by uninstalling bcrypt

`meteor npm uninstall bcrypt --save
`

It should be ok to ignore the warning in your development that asks you to install bcrypt, otherwise  you can save-dev to run it in development mode only.

Read this issue for ref: #369

[2017-03-27 14:47] maxlibin commented on #535
sorry, the problem is program getting bigger and bigger so deploy failed.

[2017-03-27 14:47] #535 closed, assigned to nobody

[2017-03-27 17:24] Garbolino opened #554 "debug:false not working"
When deploying my app debug:false is been omitted, I have also tried deleting debug parameter. Any idea?

Using mup v1.2.5, nodejs 4.7.0 (also tested with 4.8.1) npm v4.4.4.\

Thank you!

[2017-03-27 19:39] zodern commented on #544
I created a room on Gitter: https://gitter.im/meteor-up/Lobby.

error unknown command ps

It is a newer command. You probably need to update mup with `npm i -g mup`.

[2017-03-27 22:29] artpolikarpov commented on #391
Today one of my servers was out of disk space:
<img width="801" alt="screen shot 2017-03-28 at 01 24 24" src="https://cloud.githubusercontent.com/assets/870859/24380680/4e436cec-1355-11e7-96b6-9e18ba9eec28.png">

After complete removing containers still a lot of space eaten:
<img width="465" alt="screen shot 2017-03-28 at 01 25 21" src="https://cloud.githubusercontent.com/assets/870859/24380717/76

[2017-03-28 10:56] ayhid opened #555 "run a shell command after running the container"
Is there a simple way to run shell commands on the container without overriding the docker image?

[2017-03-28 15:01] CrackedBeefcake commented on #553
+1 for the issue

[2017-03-28 17:52] mackbrowne commented on #364
+1

[2017-03-28 18:01] mackbrowne commented on #553
I'm having this issue as well.  Uninstalling bcrypt didn't help.

I updated from mup 1.2.4 -> 1.2.5 and started getting this error.

UPDATE:
I reverted back to mup 1.2.4 to fix my problem.  I wouldn't recommend upgrading mup at this time.

Using digitalocean's Ubuntu 14.04.5 image and the abernix/meteord:base docker image

[2017-03-28 20:19] rclai commented on #158
It would be nice to also be able to set other arbitrary environment variables per server so that they can be accessed via `process.env.MY_VAR`.

[2017-03-28 20:31] rclai commented on #244
Please someone make the tests :(

[2017-03-28 20:49] rclai commented on #244
Also, shouldn't those custom env variables be in the `meteor.servers[<server-key>][<custom_var>]` instead of the `servers.env` object?

[2017-03-28 21:15] CrackedBeefcake commented on #553
i just ignored it and everything works fine. the alert is irritating tho

[2017-03-29 06:00] JohnAllen opened #556 "Easiest way to add Nginx location block?"
I've been reading about this and there seems to be no way to do it except to fork one or more of the docker images that `meteor-up` uses (including jwilder-nginx-proxy).

Is there an easier way to add a location directive to an nginx config file that `meteor-up` uses?

[2017-03-29 06:25] tomtom87 commented on #553
+1 having this issue cannot deploy new app to production now... will try mup 1.2.4 see if this fixes it

[2017-03-29 07:27] nadeemja commented on #553
Hi again,

Upgrading from 512MB to a 1024MB VPS fixed it (I saw a ran out of memory error somewhere).

Using 1.2.5 successfully now.

[2017-03-29 08:11] tomtom87 commented on #553
@nadeemja ahhh ok I will try this.. 1.2.4 is working fine by the way

[2017-03-29 09:16] jerocosio opened #557 "Error when deploying to Digital Ocean and Mongo DB in Compose"
Hi, so it has been a while since I updated my app so today I updated to the latest version of Meteor (1.4.3.2) and MUP (1.2.5), and tried to make a deploy to my droplet on Digital Ocean but I'm having trouble with MUP, when I try to deploy to the server I'm receiving this error:

[code]

when I tried to acces the logs using 'mup logs --tail=50' at first I didn't receive anything, but after a few m

[2017-03-29 17:51] zodern commented on #553
I just published 1.2.6 which fixed the warning appearing when it shouldn't.

[2017-03-29 17:51] #553 closed, assigned to nobody

[2017-03-30 01:18] jerocosio commented on #557
It was a problem with the URL I was using on the MONGO_URL, it was wrong and had some extra characters.

[2017-03-30 01:18] #557 closed, assigned to nobody

[2017-03-30 02:19] JohnAllen commented on #554
What do you mean "`debug: false` is been omitted"?  That you didn't have that there and it's still not running production mode?  How do you know it's not running in production mode?

[2017-03-30 06:52] ssashita opened #558 "Setting PhantomJs version is either not possible or not documented"
Please pardon me if I missed this info somewhere. But the mup README is missing this information, in case it is possible to do this, that is.

[2017-03-30 07:27] Garbolino commented on #554
I mean, I have tried with debug:false and removing debug line in my mup.json file, both cases stilll not in production mode. I know it is not running in production mode because files are not compressed when rendering my app.
Thank you!

[2017-03-30 08:21] ssashita commented on #558
If it is possible to change the phantomjs version only by changing the mup related scripts, can you please let me know where to change. Thanks ! I am constrained to use phantomJs 2.x
I now know that I should probably create my own docker base image. Please let me know if there is anything other than this that can be done. Thanks

[2017-03-30 09:05] Garbolino commented on #554
I have found the problem, sorry it was not related to mup. I do not know how but standard minifiers js package disappear from my package at the same time I upgraded mup...

Thank you anyway

[2017-03-30 09:05] #554 closed, assigned to nobody

[2017-03-30 15:28] abeaudoin2013 commented on #505
Hey there. I'm using mup (not mupx) and I'm still getting errors:

[code]
I'm using node version 6.10.0. Meteor 1.4.3.2. Do I need a different version of Node?

[2017-03-30 19:54] oliviazz opened #559 "Pushing the Startup Script: FAILED Failure"
mup reconfig and mup deploy are showing the same error.
Previously deploy was getting past this step (though failing at "verifying deployment". I updated my Python path to fix the above previous error in .npmrc. However, I am now getting the error: " Pushing the Startup Script: FAILED 	Failure"

 My mup.js file looks like:

[code]

There doesn't seem to be much online about this. I am able to ssh

[2017-03-30 20:05] delatorremario opened #560 ""ssl" is an unknown property"
when I run mup setup, it show "ssl" is an unknow property

[2017-03-30 20:08] #560 closed, assigned to nobody

[2017-03-30 20:08] delatorremario commented on #560
My mistake :)

[2017-03-31 05:43] #556 closed, assigned to nobody

[2017-03-31 07:09] themastersoda commented on #542
It takes the same amount of time for me. I believe that is related to the speed of your HDD as I have noticed that deploying from SSD drive is significantly faster.

[2017-03-31 09:45] perusopersonale opened #561 ""meteor.docker.imagePort" is an unknown property"
In the example configuration there is a field called imagePort inside the docker part, but it seems is not implemented.

[2017-03-31 12:29] zodern commented on #505
@abeaudoin2013 what dockerImage is in your config? If you are using meteor 1.4, it should be `abernix/meteord:base`

[2017-03-31 12:32] zodern commented on #561
It is implemented, but missing from the validator.

[2017-03-31 13:19] monitz87 opened #562 "Possibility to ignore certain files on deploy"
It would be nice to be able to add some files to a .mupignore file and have mup not bundle them with the app when deploying. If there is a workaround (other than deleting or moving the file before deploying) I would gladly appreciate some help.

[2017-03-31 14:02] abeaudoin2013 commented on #505
Yes, changed that to ```abernix/meteord:base```, but now I'm getting this error:

[code]

[2017-03-31 15:36] ssashita commented on #558
Fixed this extendiing abernix/meteord:base to create my own image

[2017-03-31 15:36] #558 closed, assigned to nobody

[2017-03-31 17:51] fuatsengul opened #563 "[Question] Connecting MongoDB instance that running on host"
Hi,
I have my production MongoDB instance running on host server and it doesn't exposed any port outside. So I cannot connect my database from docker container. I've tried to type ip address of docker0, 0.0.0.0, URL and 127.0.0.1 which I couldn't find any solution yet.

I think I have to set an internal connection between docker container and the host, Is there anybody who had similar problems?

[2017-03-31 18:31] fuatsengul commented on #563
I just solved this issue by creating a firewall rule to allow connection between docker and host.
In my case it was something like:
[code]

[2017-03-31 18:31] #563 closed, assigned to nobody

[2017-03-31 23:54] ghost opened #564 "Verifying Deployment: FAILED"
I'm getting a verifying deployment: failed
node 6.9.5
npm 4.2.0

- The app deploys corretly to heroku with buildpack-horse.
- Same config with the example todo app works.
- Trying to push to DigitalOcean.
- Tried on two different OS and node versions.
- Using Mantra.

Any idea what's going wrong?

THX

mup.js
[code]

[code]

[2017-04-01 12:40] ghost commented on #564
Sorry, it was juste a matter of RAM on DigitalOcean.
Deploying to a Droplet with more RAM with a higher deployCheckWaitTime solved the issue.

[2017-04-01 12:40] #564 closed, assigned to nobody

[2017-04-03 01:42] tomtom87 opened #565 "Allow support for AWS SSL Certificates"
tl:dr; Please enable HTTPS protocol when there is no SSL Cert or key file given, for load balancer support.

`mup` is broken for AWS users that are using the Elastic Load Balancer and DNS at Route53 (Amazons DNS provider) which in turn provides SSL certificates. This was working in previous versions of `mupx` but in this latest `mup` SSL from AWS is not supported as it requires a CRT file.

There

[2017-04-03 10:07] tomtom87 commented on #549
I am getting a 503 on AWS, made a ticket here https://github.com/zodern/meteor-up/issues/565

[2017-04-04 16:26] malikperang opened #566 "Use multiple enviroments"
I would like to know if I can simply use multiple enviroment just like this?
[code]

The purpose is to use multiple node of mongodb.
Appreciate any advices.

[2017-04-04 23:41] WayneUong opened #567 "node is down and deployment fails"
[code]

Is there a way to specify a different node mirror link?

[2017-04-05 00:17] isAlmogK commented on #567
I'm having the same issue

[2017-04-05 00:32] isAlmogK commented on #567
This is the error that I'm getting

node-pre-gyp ERR! Tried to download(404): https://github.com/kelektiv/node.bcrypt.js/releases/download/v1.0.2/bcrypt_lib-v1.0.2-node-v46-linux-x64.tar.gz

[2017-04-05 04:29] dominicarrojado opened #568 "Using autogenerated SSL"
I'm getting error while putting the autogenerate SSL fields: **No responsve from the server**, But removing the SSL autogenerate field, the error won't show.

![image](https://cloud.githubusercontent.com/assets/6789191/24689795/a78a2d16-19fb-11e7-8ca1-679172fbdef9.png)

[2017-04-05 07:19] tomtom87 commented on #567
Got this issues also +1

[2017-04-05 07:20] tomtom87 commented on #566
@malikperang what is the purpose?

[2017-04-05 07:20] tomtom87 commented on #528
Also getting this on AWS .. https://github.com/zodern/meteor-up/issues/565

[2017-04-05 08:28] JohnAllen opened #569 "mup setup: UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): TypeError: Cannot convert undefined or null to object"
Has anyone ever gotten this error when running `setup`?

[2017-04-05 12:48] zodern commented on #568
You are using an old mup version. Update using `npm i -g mup` and try again. Version 1.2.5 had some changes to try to fix this.

[2017-04-05 12:54] zodern commented on #567
Node should be back up now.

In the future, you can set the `NODEJS_ORG_MIRROR` env variable in your config.

[2017-04-05 12:54] #567 closed, assigned to nobody

[2017-04-05 12:55] zodern commented on #569
Could you please share your config?

[2017-04-05 13:06] bennygenel commented on #549
@zodern I'm having the same issue with letsencrypt

[2017-04-05 13:27] tomtom87 commented on #549
seems its briked for everyone with ssl otherwise its working fine

Sent from my iPhone

[2017-04-05 14:02] zodern commented on #549
I just setup ssl for one of my projects, and it worked perfectly.

@bennygenel and @nloui, could you please run these commands on the server and post the output here or in a gist? Also, please post your config.

[code]

[2017-04-05 14:52] bennygenel commented on #549
@zodern I'm using load balancer. thats why my root url and ssl url is different.
my config

[code]

[code]

[2017-04-05 14:54] JoeriSmits commented on #391
@artpolikarpov Same situation here. +1

[2017-04-05 14:56] JohnAllen commented on #569
Ok, not sure exactly where the problem was, but it was in my mup.js file.  If someone else runs into this, I suggest copying the default mup.js file and manually adding your params there one by one.

[2017-04-05 14:56] #569 closed, assigned to nobody

[2017-04-05 15:34] birganovrus commented on #327
@tyvdh Hi! Can you please post your nginx conf? I got some annoying situation when I only have an access to my meteor app using "mydomain.com:3000". When I open "mydomain.com" I see nginx welcome page

Thanks

[2017-04-05 16:16] zodern commented on #569
@JohnAllen do you know what it was in your config?

[2017-04-05 16:36] zodern commented on #549
From what you showed me everything seems to be running correctly.

You can look at the nginx logs with `docker logs <app name>-nginx-proxy`.

Did using the load balancer with let's encrypt work in the past?

[2017-04-05 16:45] PolGuixe opened #570 "Docker not stable"
I just had a weird experience. I was running a meteor app in an EC2 instance. The instance was stopped without notification.

I start it again. Checked if the docker image was on. I checked it several times with `docker ps` and the `STATUS` field was never bigger than 30 seconds. The `CONTAINER ID`, was always the same. It seemed like docker was rebooting the container.

I just launched a new inst

[2017-04-05 17:20] bennygenel commented on #549
@zodern yes the configuration was fine. I just redeployed the app with the same configuration. meteor didn't give any errors but I think it was because of one of my replica set was down. I started it again and it started working. Also I downgrade to previous version of mup too but don't know if it solvled the problem or not. I'll try tomorrow with the new version again.

Thank you for your time

[2017-04-05 17:51] zodern commented on #570
Did the app's logs show if app crashed or any indication on why it restarted?

[2017-04-05 19:13] WayneUong opened #571 "Pushing Meteor App Bundle to The Server: FAILED"
[code]

[2017-04-05 21:30] erperejildo commented on #49
If I use pass instead password I get this issue:

[2017-04-05 21:43] erperejildo commented on #434
same error here using 1.2.3v

[2017-04-06 01:39] JohnAllen commented on #569
Pretty sure I had `path: '../appFolder'` instead of `path: '../'`

[2017-04-06 01:44] tomtom87 commented on #549
I have the 503 error with load balancer and no SSL certificate (because its on AWS and the load balancer has the SSL on it) so I just need HTTPS to be enabled. I made a ticket about it https://github.com/zodern/meteor-up/issues/565

[2017-04-06 02:31] dominicarrojado commented on #568
I updated already but somehow it's still using the old version. Whenever I execute an mup command got this at the start:

![image](https://cloud.githubusercontent.com/assets/6789191/24735157/175ddb84-1ab4-11e7-8be3-d718003d1b32.png)

How do I fix this?

[2017-04-06 03:18] mackbrowne commented on #463
@maxmatthews I needed this fix today.  Thank you.  After upgrading to a 1gb digitalOcean droplet, everything worked great.  It really cut down on the random fails I'd get once in a while with the smaller droplets.

@zodern are the minimum requirements specified anywhere in the readme?  It seems if autogenerate is being used, a 1gb seems to be the minimum requirement for RAM.  Using ubuntu 14.04, e

[2017-04-06 06:21] bennygenel commented on #565
@tomtom87 Hi! I'm planning to move to AWS but don't know about how to use ELB. Can I contact you with email or something. I would really appreciate if you help me.

Thanks

[2017-04-06 06:53] tomtom87 commented on #565
@bennygenel yes sure thing, feel free to give me a private message about that. I hope we can get the SSL working with this soon

[2017-04-06 06:54] tomtom87 commented on #571
@WayneUong please can you confirm the ssh configuration is working by trying `ssh -vvv user@host` and ensuring you have access as that user you specified in the `mup.js`

[2017-04-06 06:54] tomtom87 commented on #570
@PolGuixe what size EC2 instance are you using, I had similar issues until using a medium

[2017-04-06 06:57] tomtom87 commented on #568
@mroftalp can you try `npm uninstall mup` then install again with `npm i -g mup` and check version again

[2017-04-06 07:26] WayneUong commented on #571
I created a new server from scratch, then do `mup setup` and `mup deploy`. It works fine now.

[2017-04-06 07:52] bennygenel commented on #565
@tomtom87 couldn't figure out how to private message. Could you please send me an email on bennygenel gmail

[2017-04-06 14:46] birganovrus opened #572 "Access to the meteor app only using mydomain.com:3000 address"
Hi! Got this problem, here is my configs

**mup.json**
`

    buildOptions: {
      serverOnly: true,
    },

    env: {
      // TODO: Change to your app's url
      // If you are using ssl, it needs to start with https://
      ROOT_URL: 'http://mydomain.com',
      MONGO_URL: 'mongodb://localhost/meteor',
      PORT: 3000

    },

    docker: {
      // change to 'kadirahq/meteord' if your app

[2017-04-06 14:59] PolGuixe commented on #570
@tomtom87 this was using a t2.micro.

@zodern I am investigating the logs. ;)

[2017-04-06 16:44] thijssmudde opened #573 "How to generate a backup?"
I've got an app up and running and I want to create backups occasionally. Just installed mongodump, but I dont know how to connect to the mongo database.

[2017-04-07 03:18] maryito commented on #509
I solved it by removing the package

[2017-04-07 06:56] tomtom87 commented on #570
@PolGuixe I have to use t2.medium to get it to work. just get strange errors like yours from docker otherwise

[2017-04-07 07:08] tomtom87 commented on #565
@bennygenel  have emailed you about AWS

[2017-04-07 08:47] erperejildo opened #574 "CI process"
I'm currently using Gitlab CI to manage my tests, build and deploy. I was using Docker for this but I just got rid of it because was causing other problems.

Right now I'm using mup to make the deployment. So far I tried locally and it works (well, I've got another issues but at least it connect to my server so far).

So now I'm integrating this process on my Gitlab pipeline:
[code]

It's works.

[2017-04-07 11:20] lucnat opened #575 "[Enhancement] Add support for posting deployment in slack channel"
When working with other people in slack, it is often useful for them to see when the meteor app is deployed. Many deployment tools currently support posting a message in a slack channel, so i think mup needs to catch up. We could save the parameters in `mup.js`. It would be awesome if we could specify a message à la

`mup deploy --slackmessage "social login added"`

[2017-04-07 13:28] zodern commented on #574
Could you save it to a file using something like `echo $SSH_KEY > /path/to/ssh/key/in/config`?

[2017-04-07 14:57] PolGuixe commented on #570
Do you think the problem is with memory? or disk space?

[2017-04-07 15:18] PolGuixe commented on #570
These are the logs I am getting:

[code]

It's strange because it used to work without problems

[2017-04-07 15:31] erperejildo commented on #574
Yes, I could but I don't want to storage my ssh key on my project. If is not possible to do this with Gitlab, ok, I'll do it like that

[2017-04-07 15:36] zodern commented on #574
Sorry, I should have been more clear. You can add a step before `mup setup` for Gitlap Pipeline to save it in a file from the env variable.
[code]

[2017-04-07 15:38] zodern commented on #49
@erperejildo you should use `password` instead of `pass`

[2017-04-07 15:39] #571 closed, assigned to nobody

[2017-04-07 15:42] zodern commented on #572
Are you trying to access it using port 3000? If you are, you need to add `PORT: 3000` to `meteor.env` in your config.

[2017-04-07 16:28] nickdandakis commented on #574
@erperejildo, you can set environment variables within Gitlab under your project's Settings -> CI/CD Pipelines -> Secret Variables. Then reference it and store it in a file like @zodern just laid out.

[2017-04-07 17:13] birganovrus commented on #572
@zodern Not exactly, I need to have an access to my app without :3000 port in app's domain name. When I enter "mydomain.com" I see NginX splash screen, however, when I enter "mydomain.com:3000", I see my app.
If I don't add PORT setting in meteor.env, deployment gets failed, I see this " Error starting userland proxy: listen tcp 0.0.0.0:80: bind: address already in use"

[2017-04-07 22:02] erperejildo commented on #574
But if I put my ssh key on that file and I deploy my app this contains the ssh key?

[2017-04-07 22:05] zodern commented on #574
`meteor build` ignores files and folders starting with a period, so if the ssh key is in `.deploy` it won't be part of the bundle, or you could put it in a file outside of your app's folder.

[2017-04-07 22:11] CrackedBeefcake commented on #573
on the server:
`mongodump -d [YOUR_DB] -c [COLLECTION] -o [PATH || ./folder]`

**Valueable Info:**
--port "port"  Default: 27017
-d "database"
-c "collection" Specifies a collection to backup. If you do not specify a collection, this option copies all collections in the specified database or instance to the dump files.

all info [here](https://docs.mongodb.com/manual/reference/program/mongodump/)

[2017-04-07 22:31] erperejildo commented on #574
If I do that I need to comment out my password/ssh key on my mup.json and I get this:

[2017-04-07 22:53] sproleee opened #576 "authentication methods failed ERR after not using Mup for a month"
Not sure what's happening here, but I cant set up my app anymore for deployment. I haven't updated my app in about a month and today, I fight this authentication error:
`
Error All configured authentication methods failed`

Doesn't really make sense. I can log into my DigitalOcean droplet with my key just fine, but I can't even start with Mup. I did delete Node + Meteor + NPM completely off my com

[2017-04-07 23:31] zodern commented on #576
There have been several updates in the past month, but the authentication should work the same. When you logged into the droplet did you specify the key with `ssh -i path/to/key/in/config root@address` ?

[2017-04-07 23:52] sproleee commented on #576
I just remembered that I created new SSH keys to push things to Github and messed everything up. Trying to fix this right now. What a nightmare.

[2017-04-08 08:41] #572 closed, assigned to nobody

[2017-04-08 09:08] erperejildo opened #577 "Superuser permissions [mup deploy]"
Deploying my app using Gitlab CI I get this issue after run `mup deploy`:
[code]

So I run `chown USER /home/USER/.meteor` on my server, but still having same issue so I understand I need to this also on the pipeline with `chown $CI_REGISTRY_USER /home/$CI_REGISTRY_USER/.meteor`
So I check if that folder exists:
[code]
And it doesn't.

I also added this 3 lines as well:
[code]

If I run my app loc

[2017-04-08 14:56] nickdandakis commented on #574
To be clear, you're not deploying your app with a file that contains the SSH key.

You're _creating_ the file with
`echo $SSH_KEY > ./ssh_key`

where `$SSH_KEY` is an environment variable set in your Gitlab project. You can set environment variables under Settings -> CI/CD Pipelines -> Secret Variables.

[2017-04-08 15:28] erperejildo commented on #574
No sorry, I mean right now. I'm deploying my app with the ssh key because it's on my project folder:
`pem: '../private/recipic_mup_rsa'`
But that's ok if I can use the Gitlab ssh key the problem is what I have commented: I need to get rid of this line on my mup.json but if I do that I get the previous error

[2017-04-08 23:35] nickdandakis commented on #574
Can you not set that line to `pem: './ssh_key'`, or whatever you call the file you create in your Gitlab pipeline job?

[2017-04-09 00:20] avishaan commented on #431
@zodern any thoughts on where I can find this, I don't mind adding it to the docs

[2017-04-09 00:24] zodern commented on #431
@codeHatcher sorry for not replying sooner. I honestly don't know why port 22 didn't work. It should be using scp and the same ssh configuration as all of the other steps. Though there did seem to be a relatively high failure rate while setting up Meteor and MongoDB, so version 1.2.5 changed them to be setup in serial instead of parallel.

[2017-04-09 00:30] avishaan commented on #431
hmmm, maybe what I was seeing was a coincidence with changing the port and then having it start working?

[2017-04-09 00:31] avishaan commented on #431
I'll play around with it a little bit and then come back here

[2017-04-09 00:36] avishaan commented on #570
@PolGuixe try setting up a swap file on your instance and then trying it. I had a similar issue on DO due to insufficient memory

[2017-04-09 00:38] zodern commented on #565
@tomtom87 I want to make sure I understand your situation: ELB is handling ssl, and you want to use the force-ssl pacakge. Is that correct?

It should be possible. The warning about using `force-ssl` does not apply for you since ELB is handling ssl, so you can safely ignore it (I will remove the warning in the next version). If you remove `meteor.ssl` from your config, you will no longer have the

[2017-04-09 00:42] zodern commented on #549
There are two problems:

1) Receiving the 503 nginx error page makes it think the app successfully started. The next version will include a fix.
2) The reason it returns the 503 error usually is from let's encrypt unable to verify the domain. You can view the logs using  `docker logs <app-name>-nginx-letsencrypt` and `docker logs <app-name>-nginx-proxy` to try to locate the cause.

[2017-04-09 02:05] tomtom87 commented on #549
@zodern right, I see! Looking forward to the fix :)

[2017-04-09 02:06] tomtom87 commented on #565
@zodern exactly :)

I am still getting the error without the meteor.ssl part of the config though. Please let me know when you update, very thankful for this mate

[2017-04-09 02:07] tomtom87 commented on #570
@PolGuixe yes run the medium size and you must set a swap file

[2017-04-09 13:16] thijssmudde commented on #573
thanks @FinnFrotscher, but the output directory is empty

Database name is myroutes, when i do

[code]

Filezilla shows an empty directory in dump/myroutes. Port is default and collection is not specified, I need to backup all the data.

[2017-04-09 16:07] erperejildo commented on #574
I don't know exactly what do you mean. I don't create any file on my CI process. This file is the normal `mup.js` located on my `.deploy` folder

[2017-04-09 20:23] CrackedBeefcake commented on #573
i am connecting to my servers with `ssh`. I am not sure what your problem is then.
try to connect to the db with the command
`mongo` which logs you in. then
`show dbs`, `use [db]` and `show collections`
and make sure the data is there.

[2017-04-09 20:27] thijssmudde commented on #573
Im connecting to the mongo db with:

**`docker exec -it mongodb mongo myroutes`**

then

returns the correct databases (admin, local, myroutes). I cannot back up though with the command you specified (mongodump -d myroutes)

[2017-04-10 13:29] Piyush95aadi opened #578 "mkdir error with meteor application deployed using meteor up"
Hi,

I am new to meteor up , I have deployed my application using meteor up on my  amazon EC2 server. The problem is that I am making directory in /opt/DI/<user_Id> , for every user. It is working fine on my local machine when I run the meteor with settings file. But gives error when registering with the application running on EC2:

"Exception in callback of async function: Error: ENOENT: no such

[2017-04-10 22:04] CrackedBeefcake commented on #573
[code]

now a backup will live at `/root`.
works?

[2017-04-11 07:49] thijssmudde commented on #573
yes this works! Thanks @FinnFrotscher

[2017-04-12 16:21] nick-preda opened #579 "503 Service Temporarily Unavailable"
Hi guys,

i've been using mup for a while, and now decided to go full SSL.

I changed my mup.js file accordingly, setting:

1. ROOT_URL, in env, starting with https:// and not http://
2. ssl -> autogenerate -> inserted an e-mail and listed the domains pointing at my server.

tried also to install the 'force-ssl' package.

I'm getting, first, the 503 error, Service Temporarily Unavailable, and then

[2017-04-12 17:05] yanickrochon opened #580 "FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - process out of memory"
Is there any way to avoid this?

I already have the `meteor.buildOptions.serverOnly = true`.

I have tried running this command : `TOOL_NODE_FLAGS=\"--max-old-space-size=2048\" mup deploy --settings ./settings.json` but it seems to have no difference whatsoever.

[2017-04-12 17:25] yanickrochon commented on #580
This might not be this package's fault (see https://github.com/meteor/meteor/issues/8157)

[2017-04-13 07:58] dominicarrojado commented on #568
@tomtom87 after I `npm uninstall mup`, it's still installed

[2017-04-14 07:28] Himanshu-Tamrakar opened #582 "Is there any way to provide compression option in nginx server in mup setting file?"
I want to enable compression while, MUP install docker in ec2.

Where is nginx.config file after installing meteor app using mup?

[2017-04-16 07:49] bogdan-bodnaruk commented on #362
Also interested in that. For example I need to install wkhtmltopdf and others

[2017-04-16 20:48] lunatolun opened #583 "CSS is not minified (VueJS)"
I'm using [akryum/vue-meteor](https://github.com/Akryum/vue-meteor) and when I deploy, CSS is not minified.

[code]

When I do `meteor build --server-only` it minifies it as intended. Do I need to let MUP know that I'm deploying for production? If yes, how? I couldn't see in the docs. Thanks

[2017-04-17 20:59] erperejildo opened #584 "Deployment process"
I'm setting up my deployment with Mup using it on Gitlab CI and I've got some doubts that I couldn't resolve online (this is not an issue itself).

I already have Nginx installed and configured with myApp.com.conf on /etc/nginx/sites-available and /sites-enabled:
[code]

On my pipeline I've got this:
[code]

This install everything to deploy my Meteor app and get this output:
[code]
And also if I

[2017-04-18 21:36] JohnAllen opened #585 "Load Balancer Settings For Let's Encrypt and Meteor Up?"
Has anyone gotten meteor-up running with a load balancer on Digital Ocean using Let's Encrypt?   Tried for a bit but don't have a great handle on the NGINX and cert stuff.  Error log just showed could not reach my http:///sitename.com/[...] but didn't really provide a reason.  My apps had started correctly on port 80

I guess I'm most curious about the port forwarding the load balancers offer -- h

[2017-04-19 15:41] skynightz93 commented on #550
Hi, I want to know if currently i can deploy two app on server using setup ssl?

[2017-04-21 13:51] zodern commented on #550
Not yet.

[2017-04-21 13:53] zodern commented on #434
@erperejildo does 1.2.6 work?

[2017-04-21 13:56] zodern commented on #463
@mackbrowne it would be appreciated if you create a PR to add a `recommended minimum requirements` section.

[2017-04-21 14:02] zodern commented on #577
@erperejildo when deploying from a CI, it's okay to run meteor as root. Meteor always shows that warning when it is. Without setting`METEOR_ALLOW_SUPERUSER`, it would also show [this warning](https://github.com/meteor/meteor/blob/340f0f6fd416623489d7cd904402f9c07b3c8df3/tools/cli/main.js#L808) and not build the app.

[2017-04-21 14:02] #577 closed, assigned to nobody

[2017-04-21 14:14] zodern commented on #568
@mroftalp the command should be `npm uninstall -g mup`

[2017-04-21 17:52] erperejildo commented on #577
Can't run sudo on Gitlab CI. Would this fix the issue?

[2017-04-21 18:29] erperejildo commented on #434
Using 1.2.6 I got this: `endpoint myApp not found`
But could be related with my Nginx because I was trying with `pm2` and I made some changes

[2017-04-22 06:16] maxlibin opened #587 "Error response from daemon: No such container: mongodb"
[code]

any idea whats the problem here, what should i do to fix this?

[2017-04-23 11:57] yanickrochon commented on #580
Since this seems to affect Meteor and not this package, I will close this.

[2017-04-23 11:57] #580 closed, assigned to nobody

[2017-04-24 15:07] zodern commented on #579
Please install the 1.2.7 beta with `npm i -g mup@1.2.7-beta.0` and try again. It fixed a few bugs and problems with using let's encrypt.

[2017-04-24 15:20] zodern commented on #549
I published a 1.2.7 beta that fixed a few bugs with let's encrypt. You can install it with `npm i -g mup@next`.

[2017-04-24 15:27] zodern commented on #555
An alternative would be using the [`child_process`](https://nodejs.org/api/child_process.html#child_process_child_process_exec_command_options_callback) built-in module and running it in your server code.

[2017-04-24 15:32] zodern commented on #578
The `/opt` folder doesn't exist. Your app will need to create it first.

[2017-04-24 15:32] #578 closed, assigned to nobody

[2017-04-24 15:34] zodern commented on #562
There is a feature request for meteor to ignore files: https://github.com/meteor/meteor/issues/6002

[2017-04-24 15:34] #562 closed, assigned to nobody

[2017-04-24 16:02] nick-preda commented on #579
Thanks for the reply, but still nothing to do.

tried with both
`image: 'kadirahq/meteord'`
and
`image: 'abernix/meteord:base'`

could you specify how you make it work? the real parameters from your mup.js?

[2017-04-24 19:53] #561 closed, assigned to nobody

[2017-04-24 21:12] WayneUong opened #589 "[Question] Graceful shutdown"
Is there an option for graceful shutdown during deployment?

[2017-04-25 14:16] rdewolff commented on #88
Where is the FAQ or the referenced doc now?

[2017-04-25 14:18] zodern commented on #88
https://github.com/zodern/meteor-up#common-problems

[2017-04-25 14:31] rdewolff commented on #88
Thanks for the fast answer :)

[2017-04-25 19:41] rbrugnollo opened #590 "Set mup in order to access meteor in port 3009 (or any port)"
Hey guys, I'm trying to figure out how to set up my mup.js file in order to access meteor from a different port other than 80.

So, I tried many different setups, for me the one that makes more sense is:

[code]

Everything works but when it gets to "Verifying Deployment" step it fails.

Any ideas on how to get this working?

Thanks!

[2017-04-25 20:23] rclai commented on #505
I'm having the same problem and I have the right Docker image in place, but my error instead says:

[code]

If I try to build using the `meteor` CLI, it works fine, just not with `mup` unfortunately.

[2017-04-26 01:58] rclai commented on #579
It worked for me.

[2017-04-26 06:43] nick-preda commented on #579
could you please show me your exact configuration of mup.js @rclai ?

[2017-04-26 06:45] trevordowdle opened #591 "SSL Autogenerate"
Can setting up SSL really be as simple as adding
[code]
To the meteor object in the mup.js file?

I tried adding this and re-running the mup deploy and mup setup commands.  Everything deploys successfully, however my domain is still unsecure.

Are there any more steps I need to take to get this to work?  Or can someone help me with troubleshooting?

While running mup setup and deploy I don't see a

[2017-04-26 08:38] nick-preda commented on #579
OK, managed to make it work.

Is it possible that the mup with ssl cannot be built because of the `force-ssl` package?

[2017-04-27 14:52] maxlibin opened #592 "response from daemon: No such container: meteor-nginx-proxy"
[code]

[2017-04-27 16:24] Tim-W opened #593 "Specify Linux Container directory"
Hello,

When I try running `mup setup` the process gets stuck when asking for the LXC Directory:

[code]

and does not proceed. What should I do?

[2017-04-27 19:48] Tim-W commented on #593
After running `apt-get purge lxc && apt-get autoremove`, the problem went away.

[2017-04-27 19:48] #593 closed, assigned to nobody

[2017-04-27 22:40] sethjgore commented on #579
@nick-preda I'm curious, what worked for you? I keep on getting 502 Bad Gateway.

[2017-04-27 23:56] sethjgore opened #594 "502 Bad Gateway"
Hello all. Loving the new features in meteor-up now. So good to have autogenerating certificates, however it seems we're still having issues with that?

I've killed 503 only to face "502 Bad Gateway"

1.2.7 beta won't let me successfully deploy.

[code]
 1.2.6 deploys succesfully. But I keep on facing 502.

I've tried almost everything else available in the comments of the open issues.

[2017-04-27 23:59] sethjgore commented on #594
i think this is causing the 502 troubles.

I am getting this from my server.

```docker logs cs-nginx-proxy```

[code]

[2017-04-28 04:07] rclai commented on #579
My config follows the template in the read me.

[2017-04-28 09:45] nick-preda commented on #579
@sethjgore i tried going multiple times with the `mup deploy`, and finally it gave me no errors, and it finally worked.

i'm using docker.image
`      image: 'abernix/meteord:base', `

and docker.imageFrontendServer
`imageFrontendServer: 'meteorhacks/mup-frontend-server',`

and for the buildOptions, i've got:
`serverOnly: true,
debug: true,
cleanAfterBuild: true,
allowIncompatibleUpdates: true,`

[2017-04-28 09:54] ziedmahdi commented on #579
@nick-preda to enforce redirect from http to https add `force-ssl`package to your app.
[code]

[2017-04-28 09:55] nick-preda commented on #579
@wizonesolutions if I add this package, mup deploy gives me a bunch of errors. tried it, and re-tried again.

is it working for you?

[2017-04-28 14:36] jLouzado opened #595 "help: How to access variables in settings.json"
When running `mup init` it also creates a `settings.json` file but I can't seem to find any instruction or documentation regarding how to access that information from within the `mup.json` file.

For example if I don't want to put the Mongo_URL directly in the `mup.json` file and potentially expose it.

[2017-04-28 15:15] NanIsNotANum opened #596 "Verifying Deployment: SUCCESS but 502 Bad Gateway (problem with bower)"
Hi,

I have a npm package "wysiwyg-editor-node-sdk" which requires "bower" to install

so I use npm to install 'bower' and all the dependencies in my meteor app folder.
then the "mup setup, mup deploy" seem to result well, I got "Verifying Deployment: SUCCESS".
however, the app doesnt work, when I connect to the app, I saw "502 Bad Gateway"

below is the result of mup logs --tail=200

[code]
It lo

[2017-04-28 20:26] wizonesolutions commented on #579
Did you mention me by accident?

[2017-04-29 09:54] NanIsNotANum commented on #596
solved the issue by adding --allow-root to the postinstall command in package.json of "wysiwyg-editor-node-sdk" ... and I guess it is not reallt related to mup, hence close this issue. cheers.

[2017-04-29 09:54] #596 closed, assigned to nobody

[2017-04-29 20:45] nick-preda commented on #579
oops @wizonesolutions hahaha
i meant @ziedmahdi

[2017-04-30 11:23] ziedmahdi commented on #579
@nick-preda yeah it's working for me.

[2017-04-30 17:11] ShrinathGupta commented on #592
+1

[2017-05-01 14:06] chrissanders commented on #591
I'm having the same issue, although I'm running the very latest version of mup. Redeployment ran fine, but nothing mentioning SSL and I can't connect to the site via HTTPS. I'm not seeing anything in the logs that tells me this was successful or failed.

[2017-05-01 18:03] brylie commented on #560
What was the problem? I am getting the same error.

[2017-05-01 18:30] brylie commented on #591
Same here. How do we install the version of mup that contains the LetsEncrypt changes?

[2017-05-01 18:44] brylie commented on #591
One strange thing occurred. I manually installed certbot on the server after running `mup deploy`. Within about 5 minutes, my server had an active LetsEncrypt certificate. I tried to manually install the certificates once after installing certbot, so that might have had an effect.

[2017-05-01 18:47] chrissanders commented on #591
@brylie Can you describe the process you used to install certbot?

[2017-05-01 18:53] brylie commented on #591
@chrissanders I followed the [Certbot Ubuntu 16.04 nginx](https://certbot.eff.org/#ubuntuxenial-nginx) instructions.

[2017-05-01 19:41] chrissanders commented on #591
No luck after doing something similar here. I captured packets on the server and it sees the inbound connection on 443 but then responds with a TCP RST. I've confirmed via netstat that the server appears to be listening on port 443, but doesn't appear to be handling the request.

[2017-05-02 06:29] roelvan commented on #591
I followed this guide with success: [Medium Article (mup + letsencrypt)](https://medium.com/@grahamleslie/setting-up-meteor-meteor-up-letsencrypt-ssl-and-nginx-dddb3b5a4baa)

[2017-05-02 08:04] brylie commented on #591
I had similar errors regarding 443 being taken. I was a bit tired yesterday, so apologies for not providing more info.

[2017-05-02 12:16] chrissanders commented on #591
I was able to get this working, although I'm not sure exactly what fixed it. Things I did were:
1. Change the ROOT_URL from http to https in mup.js
2. Only list one subdomain in the ssl section of mup.js
3. Run mup setup from mup/prod
4. Call ./bin/deploy prod

One of those things or a combination of them got me going.

[2017-05-02 17:45] nick-preda commented on #579
adding `force-ssl` it always gives me the same error:

[code]

[2017-05-02 20:22] hhertogh opened #597 "babel issue"
I have issues deploying my app with mup.

When doing the mup deploy (in debug mode), I have the following output:

`babel [BABEL] unknown: Start set AST +0ms
  babel program.body[0] ExpressionStatement: enter +286ms
  babel program.body[0] ExpressionStatement: Recursing into... +26ms
  babel program.body[0].expression CallExpression: enter +4ms
  babel program.body[0].expression CallExpression: Re

[2017-05-03 10:07] dominicarrojado commented on #568
@zodern This still appears
![image](https://cloud.githubusercontent.com/assets/6789191/25656387/5f0fe2ec-302b-11e7-8694-2233608ef306.png)

[2017-05-03 23:27] dominicarrojado commented on #568
Nvm I figured out a way somehow @zodern

[2017-05-03 23:27] #568 closed, assigned to nobody

[2017-05-04 00:31] zodern commented on #595
The `settings.json` file is used for your app.

This version of `mup` uses a `mup.js` file instead, which allows you to use everything available in Node.js.

Two options are:
1) Storing in environment variables. You can use `process.env.VARIABLE_NAME` to access it.

2) Have a `secret.json` file. At the top of your `mup.js` file, add `var secret = require('./secret.json')`, and access it with `secr

[2017-05-04 00:31] #595 closed, assigned to nobody

[2017-05-04 00:33] zodern commented on #592
The problem is `Error starting userland proxy: listen tcp 0.0.0.0:443: bind: address already in use.`. Make sure there is nothing else running on port 443, such as another nginx instance.

[2017-05-04 00:37] zodern commented on #597
Is this while building the app, or when starting it?

[2017-05-04 00:42] zodern commented on #590
`abernix/meteord:base` requires `imagePort` to be `80` for it to work. You can use https://github.com/abernix/spaceglue instead, which uses `3000`.

[2017-05-04 01:20] zodern commented on #579
@nick-preda please run `mup docker restart` and try deploying again.

[2017-05-04 01:23] zodern commented on #560
@brylie the `ssl` property in your config is probably in the wrong location. You can look at the [example config](https://github.com/zodern/meteor-up#example-config) to see where it should be.

[2017-05-04 01:24] zodern commented on #594
It seems the app can not successfully start. Make sure you are using the correct docker image for the app's meteor version.

[2017-05-04 06:39] hhertogh commented on #597
I can close this issue, it was an error linked to the building process of meteor.
I could resolve it by following: https://github.com/meteor/meteor/issues/8020#issuecomment-265758830

Thanks.

[2017-05-04 06:39] #597 closed, assigned to nobody

[2017-05-04 07:00] brylie commented on #560
@zodern that was the case, sorry for not following up. I had `ssl` outside of the `meteor` object. The size of the config example makes it a bit hard to follow the nesting, and perhaps an unordered, nested list would more clearly document the structure.

[2017-05-04 08:14] nick-preda commented on #579
finally it deployed on my server, with the basic force-ssl package, but the redirect on the https just didn't happen.

i finally tried out another package, the `meteorblackbelt:force-ssl` and everything worked right away.

[2017-05-04 08:14] #579 closed, assigned to nobody

[2017-05-04 14:30] delatorremario commented on #560
I solve, before config https://letsencrypt.org on server
ssl: {
      // Enables let's encrypt (optional)
      crt: './ssl/bundle.crt', // this is a bundle of certificates
      key: './ssl/privkey.pem', // this is the private key of the certificate
      port: 443
    }

[2017-05-05 07:09] brylie commented on #560
I think the goal of this feature is so that [Certbot](https://github.com/certbot/certbot) will be **automatically** configured. Note also, [LetsEncrypt is deprecated in favor of Certbot](https://www.eff.org/deeplinks/2016/05/announcing-certbot-new-tls-robot).

[2017-05-05 08:36] jLouzado commented on #595
Thank you. :)

[2017-05-05 13:18] sethjgore commented on #594
@zodern thanks for replying. You're right, the app isn't starting at all.  Tried updating meteor and switching to kadirahq/meteord from abernix but still not starting. Any ideas why?
[code]

[2017-05-05 13:27] trevordowdle commented on #591
Finally got it working...

It seems I had to install letsencrypt on the production server...

`sudo apt install letsencrypt`

It wasn't clear... I assumed maybe mup would do this for me during the setup process.

[2017-05-05 14:51] spinualexandru opened #599 "[1.2.7] Unhandled promise rejection after upgrade"
After upgrading from 1.2.6, I am trying to deploy ( I am running Ubuntu 17.04 ) and I am getting the following error:
`(node:6902) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): TypeError: Cannot use 'in' operator to search for 'autogenerate' in undefined
(node:6902) DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections

[2017-05-05 16:10] sethjgore commented on #594
Finally got it to work. Used Abernix.

For anybody who's struggling, make sure "meteor.ssl.autogenerate.domains" are ACCESSIBLE. If you put down `domain.com, www.domain.com`, make sure www. is actually already set up.

Also if you are having issues with `force-ssl`, uninstall that and add `meteorblackbelt:force-ssl` instead.

[2017-05-05 17:06] kalepail commented on #599
I'm facing this issue as well.
Node v7.10.0

[2017-05-05 17:13] PedroJimenez73 commented on #599
How to downgrade to 1.2.6 please?

[2017-05-05 17:25] zodern commented on #599
I just released 1.2.8, which fixes this.

[2017-05-05 17:25] #599 closed, assigned to nobody

[2017-05-05 21:39] stevenhornung commented on #244
Any updates here? Would love to get this feature merged!

[2017-05-06 20:58] ramonbmt opened #600 "Remote MongoDB"
Is there a plan to configure mongo to accept remote connections from white listed ips?
I developed a workaround, but I am interested if you could use a pull request with that functionality?

Regards

[2017-05-07 16:43] adammoisa commented on #214
I did that and still get this issue. Any ideas?

[2017-05-07 20:18] jamezilla0 commented on #1145
@suresh1791 Did you happen to fix this issue?

[2017-05-07 21:12] xerxicodex opened #601 "Verifying Deployment Failed"
Been trying to deploy meteor for almost a week now via docker and have faced nightmares after nightmares. So I will go in and fix what ever issue there is my self but if there is someone who has solved this issue please let me know/

[code]

[2017-05-08 05:22] trevordowdle opened #602 "Content Security Policy: The page’s settings blocked the loading of a resource"
I am getting the following error:

Content Security Policy: The page’s settings blocked the loading of a resource at blob:https://mydomain.com

Current Settings:

The content security policy seems to be related to nginx.  If I try to add my own meta tag to allow media-src 'self' it doesn't seem to work.

Can anyone help me solve this issue?  Is there a way to address it through the mup.json file?

[2017-05-08 05:26] embub opened #603 "'Mup Setup' returning only 'Setup Docker'."
Hi everyone,

when trying to setup my mup.js config, my terminal returns only this:

[code]

I'm not sure what is going wrong in my mup.js, I've mostly been following the sample configuration. Has anyone else had this problem?

[2017-05-08 07:51] brylie commented on #591
We should probably re-open this issue, since the meteor-up command is not automatically installing **letsencrypt** or **certbot**. Most of the other software dependencies are handled automatically by meteor-up, so the SSL configuration would ideally be automated too.

It seems there is a bit of complexity here, with **letsencrypt** being deprecated in favor of **certbot**, and multiple installatio

[2017-05-08 14:56] seandevs commented on #359
posterity: when publishing to DockerHub, you will be using automated builds (docs https://docs.docker.com/docker-hub/builds/)

[2017-05-08 17:26] zodern commented on #601
What version of Meteor are you using?

[2017-05-08 18:13] zodern commented on #602
Meteor Up shouldn't be setting the `content-security-policy` header. Are you sure you are not using the `browser-policy` or similar package?

[2017-05-08 18:18] trevordowdle commented on #602
Thank you for clarifying that Meteor Up doesn't set anything related to the **content-security-policy**

I'll review my packages this evening.

Appreciate it.

[2017-05-08 18:19] #602 closed, assigned to nobody

[2017-05-08 18:59] zodern commented on #603
You can run `mup setup --verbose` to see what it is doing on the server.
Does it get stuck at that step, or does it exit?

[2017-05-09 04:48] SachaG opened #604 "Site is down while finishing deploy"
I've noticed that whenever I deploy, my site goes down for a few seconds at the end of the process. I can live with this, but I was just wondering if this was the expected behavior, or if this is a bug?

[2017-05-10 03:31] embub commented on #603
That command returns the exact same as above and exits.

[2017-05-10 03:35] santteegt commented on #565
@tomtom87 can I also send you an email asking for some help on how to set up SSL on my EC2 instance using mup for meteor deployment ?

[2017-05-10 09:45] idanwe commented on #565
@santteegt @tomtom87 can you post here the transition to AWS and the setting of the load balancer with mup.
I will be my next tasks this week and would really appreciate some references.

[2017-05-10 21:32] Floriferous opened #605 "Wrong PhantomJS version on docker image crashes server"
Mup successfully deployed to my server, but the app crashes repeatedly with the following error:

[code]

It seems to be related to the version installed by the Docker container I use (abernix/meteord:base). Is there another recommended container that includes a more recent version of Phantom JS? Or is there another workaround with this ?

Or is there a way to force install the version I need inst

[2017-05-11 09:38] Floriferous commented on #605
Never mind, there was a weird error 137 in the stack trace. Upgraded server RAM from 512MB to 1GB and now it's working again!

[2017-05-11 09:38] #605 closed, assigned to nobody

[2017-05-11 12:08] subhog opened #606 "Tear down docker container after failed SSL check"
I did a new ssl setup but used a wrong private key file (I'm cleaning a mess in our keys folder). During another trial, I got a message saying that the container name `***-dummy-http-server-for-ssl-check` is already in use:

    x Verifying SSL Configurations: FAILED

	-----------------------------------STDERR-----------------------------------
	docker: Error response from daemon: Conflict. The co

[2017-05-11 14:46] PArch opened #607 "Mongo Folder"
Set mongo data folder directory in mup.js ?

  mongo: {
    port: 27017,
    data: /var/lib/mongodb/
    version: '3.4.1'
}

[2017-05-11 19:51] Sphincz commented on #601
I have a similar problem. After typing 'mup.cmd logs --tail=50' it only shows this. I have the latest meteor version and i'm using abernix docker image.
Please help. thanks!

[code]

[2017-05-12 09:07] rajpa commented on #591
I had a running domain+https+meteor. Now, the has certificate expired and has not got automatically renewed. Both letsencrypt and certbot are installed in the system. I deleted all the docker images and ran mup setup, but the certificate expiry problem persists. Pls help.

-rajpa

[2017-05-12 18:57] isAlmogK opened #608 "M"

[2017-05-12 18:57] #608 closed, assigned to nobody

[2017-05-12 19:45] isAlmogK opened #609 "Latest Version Issue With SSL"
I just update to the latest version of meteor-up and deployments are fine however there seems to be an issue with the SSL. New certificates have been generated on the server but are not being mounted correctly. Seems to be directly due to the version 1.2.7 - https://github.com/zodern/meteor-up/releases

Is there a way to roll back to an older working version.

[2017-05-12 19:48] slinkardbrandon opened #610 "Run Script after Deploy"
I've run into an issue where every time I deploy my app with mup I need to reinstall wkhtmltopdf to my docker container.

Is there any way we could build out a way to run scripts on the fresh docker instance after a deploy completes?

[2017-05-13 12:31] xerxicodex commented on #601
@zodern
![screen shot 2017-05-13 at 8 30 37 am](https://cloud.githubusercontent.com/assets/4967090/26025467/8978d718-37b6-11e7-916c-713ac8d02322.png)

[2017-05-13 18:24] zodern commented on #609
You can install an older version with `npm i -g mup@<version>`.

I would like to know why it isn't working for you. I reinstalled a server, and then deployed an app to it with let's encrypt enabled, and it worked.
- Can you please share your config?
- Were you able to use let's encrypt with that app with an older version of mup?
- Do you have the correct DNS entrees for each domain listed in `mete

[2017-05-13 18:27] zodern commented on #610
The best option is to use a docker image with wkhtmltopdf already installed. I will be working on making that easier, but for now you can fork the image you currently are using, add a step to install wkhtmltopdf, publish it to the docker hub, and in your config set it to use your image.

Another option is to have your app check if it is installed, and if not use the built-in module `child_process`

[2017-05-13 18:29] zodern commented on #607
@PArch there currently isn't a way, but it wouldn't be difficult to add. Before adding another option to the config, I would like to know why you need to change the directory.

[2017-05-13 18:33] zodern commented on #604
It will be down while running the task list `Start Meteor`. I am looking into ways to reduce it.

[2017-05-13 18:36] zodern commented on #591
It is a bug in the docker image mup uses for let's encrypt: https://github.com/JrCs/docker-letsencrypt-nginx-proxy-companion/issues/199. A work around is to delete `/opt/<appName>/certs` on the server, and then run `mup reconfig`, forcing it to regenerate the certificates.

[2017-05-13 18:57] isAlmogK commented on #609
@zodern I was just testing different versions, I don't think it's mup but as the older versions did not work. It's a bit confusing as everything was working until 2 days. Maybe you have an idea. You can see the issue here https://app-staging.mentorloop.com/

Hosted on AWS, not using let's encrypt I remember there was some issue with it

Here is the config file (I removed the sensitive info)

modul

[2017-05-13 19:29] PArch commented on #607
Partition disk, mongo data not in /var/...
Le sam. 13 mai 2017 à 20:29, zodern <notifications@github.com> a écrit :

[2017-05-14 00:06] PolGuixe commented on #369
@doronsever it worked for me.

I bit of a pain having to change node versions continuously

[2017-05-14 00:18] zodern commented on #609
The certificate expired on May 10th.

[2017-05-14 14:40] isAlmogK commented on #609
Thanks, I didn't see that

[2017-05-14 14:40] #609 closed, assigned to nobody

[2017-05-15 04:20] zeekun opened #611 "./ is not a meteor app"
I recently updated mup but immediately when i run mup deploy, I get an error telling me 'is not a meteor app'. What would be the problem?

[2017-05-15 07:10] rajpa commented on #591
thanks @zodern !

After I deleted /opt/myapp/certs, the certificate was still not renewed.

And then I had to open port 80 (!!!) on my domain because of an error I got from /app/letsencrypt_service which said self-certification error due to port 80 not accessible.

And then I ran /app/letsencrypt_service again and restarted the docker container and it is working now...

I wonder if I have to keep

[2017-05-15 07:20] albertonaperijr commented on #611
Where did you put your `mup.js` file? If it's inside `.deploy` folder then you need to change `path: './'` to `path: '../'`.

[2017-05-15 16:25] zeekun commented on #611
@albertonaperijr thank you, it has worked

[2017-05-15 17:28] ghost opened #612 "Let's Encrypt makes websocket fail"
Trying Let's Encrypt for the first time with my mup deployment. Using the autogenerate clause in the SSL area of mup.js causes a websocket connection error after my app is deployed.

In Chrome's console:

`WebSocket connection to 'wss://....' failed: Error in connection establishment: net::ERR_NOT_IMPLEMENTED`

I usually use uploaded certs and that works fine. I use `abernix/meteord:base` docker i

[2017-05-15 18:48] #611 closed, assigned to nobody

[2017-05-15 18:49] WayneUong opened #613 "buildOptions debug true still minifies JS files"
All the js files are minified even when I set buildOptions debug to true. This wasn't the case in the past.

[2017-05-15 18:49] zodern commented on #603
Try running `DEBUG=* mup setup --verbose`. Could you also please share your config?

[2017-05-15 19:01] zodern commented on #601
@jamezilla0 from the mup output in your first post it looks like you are using an old version of mup, which is now at https://github.com/arunoda/meteor-up-legacy. This version uses `mup.js` instead. You can look at the readme to see what config options are available. Then run `npm update -g mup` to install the latest version.

@Sphincz that is the same issue as in #531

[2017-05-15 19:29] zodern commented on #591
Let's Encrypt uses port 80 to verify that you own the domain. If the bug with renewing the certificate gets fixed, it will need to use port 80 again in ~60 days.

[2017-05-15 19:32] zodern commented on #613
What package are you using to minify js?

[2017-05-15 19:34] WayneUong commented on #613
@zodern I found out that its the  `--cached-build` tag that causes all the subsequent builds to be minified like the first build. So which settings are carried over and which are not with  `--cached-build`?

[2017-05-15 20:19] zodern commented on #613
It reuses the build from the last time you deployed without the `--cached-build` flag. The bundle doesn't change until you deploy without that flag. It was mainly intended to be used after the bundle failed to upload from a connection error.

[2017-05-15 23:49] Sphincz commented on #601
@zodern I've tried that option. It doesn't show any errors now but the deploy verify still fails. I've moved to another solution. Thanks!

[2017-05-16 11:58] zeekun commented on #233
Hullo, I am having the same issue as @asidiali and have done what @MasterJames proposed but I keep getting this error
![meteor](https://cloud.githubusercontent.com/assets/28468199/26104802/1c827170-3a48-11e7-9309-ca7a0aaa119b.PNG)

[2017-05-16 12:11] zeekun opened #614 "VERIFYING DEPLOYMENT FAILED"
Hullo, I keep getting this error.
What would be the problem?

![meteor](https://cloud.githubusercontent.com/assets/28468199/26105048/2e37fb6e-3a49-11e7-8cc4-07523e1c289c.PNG)

[2017-05-16 13:43] w3jimmy commented on #375
Hi guys, I just had the same error and came here looking for help.

My app's path was correct, but in my case I fixed the issue by changing the value of buildOptions.executable from './meteor' to 'meteor' in the mup settings file.

I was actually surprised, because my meteor version installed globally is exactly the same as the local meteor version (1.4.4.2).

I hope this helps someone else!

[2017-05-17 16:29] kodie commented on #364
Yes please!

[2017-05-17 22:27] rafaelcorreiapoli opened #616 "How to setup proxy"
Hi, im deploying to a EC2 instance that is behind a proxy inside the company's VPN
The instance can't access the internet unless through the proxy
How can I configure a http proxy for mup?
[code]

[2017-05-17 23:15] ziedmahdi commented on #364
+1

[2017-05-18 01:16] my-slab opened #617 "MUP config generates an invalid nginx config"
I have a MUP config that generates an invalid nginx config in the nginx-proxy container. The issue is that it generates an empty upstream directive. Manually adding the required lines from `/etc/hosts` to upstream and reloading the config resolves the issue.

Thanks for your time and effort working on this tool.

##### Server
Ubuntu 14.04.4 LTS

##### MUP config
[code]

##### Containers
[code]

##

[2017-05-18 20:24] slinkardbrandon commented on #610
Thanks, I've got this resolved now!

All I did was this:

1.) Created a repository on https://hub.docker.com and named it "slinkardbrandon/wkmeteor"
2.) Took my configured docker image (with wk installed) and did a docker commit (using this command):
sudo docker commit cc6728a075e5 slinkardbrandon/wkmeteor:base
3.) Changed my mup.js file to reflect the new docker repository.

Anyone looking for wk

[2017-05-18 20:25] #610 closed, assigned to nobody

[2017-05-18 21:31] ovidyou opened #618 "Verifying Deployment: FAILED when server returns code 401 Unauthorized"
Using `DEBUG=mup* mup deploy --verbose` I found out that MUP interprets the HTTP Status Code **401 Unauthorized** as a failed deployment, but in my use case this is perfectly  valid, since I use basic authentication on the server.

The curl error is: `curl: (22) The requested URL returned error: 401 Unauthorized`

[2017-05-20 18:49] isAlmogK commented on #617
+1

[2017-05-21 12:49] SimonatoLucaManuele commented on #403
I would share with you this docker and pipelines that works for me.

Meteor installation and mup installation are set inside Dockerfile. I'm not a pro in docker so feel free to try and modify it.

Docker - simonatoluca/bitbucket-pipelines-mup - [link](https://hub.docker.com/r/simonatoluca/bitbucket-pipelines-mup/)

Pipelines
[code]

I hope this will help in future.

[2017-05-21 19:05] kaamodt commented on #403
Thanks @SimonatoLucaManuele, but I was able to solve this earlier on :) I had not put the installment of Meteor as part of the pipeline steps and the error message was not really helping me understand that.

[2017-05-22 10:25] movationdesign commented on #364
+1 !!

[2017-05-22 22:39] ustimb opened #620 "Meteor-Up and Docker Swarm Support"
Meteor-Up is very convenient for Meteor apps to a single Docker host.  Are there any plans to include support for Docker Swarm directly in the near future?

[2017-05-23 01:44] zodern commented on #620
I am planning to look into it.

[2017-05-23 02:10] zodern commented on #618
I added that to fix problems with verifying deployment for apps using Let's Encrypt. Is your app using it? If not, I can modify it to only fail when using Let's Encrypt.

[2017-05-23 07:15] saiy2k commented on #411
I am getting a similar issue with fresh installation of Meteor app.

Meteor Version:
1.4.4.2

Mup Version:
1.2.8

Error on `mup deploy`:

`mup logs --tail=100` shows
[139.59.16.54]
[139.59.16.54]> meteor-dev-bundle@0.0.0 install /bundle/bundle/programs/server
[139.59.16.54]> node npm-rebuild.js
[139.59.16.54]
[139.59.16.54]{
[139.59.16.54]  "meteor-dev-bundle": "0.0.0",
[139.59.16.54]  "npm": "3.1

[2017-05-23 08:45] ovidyou commented on #618
No, the app is not using Let's Encrypt. That would help, thanks.

[2017-05-23 15:10] zodern commented on #411
@saiy2k what does it show if you run `mup deploy --verbose`?

[2017-05-23 15:19] #460 closed, assigned to nobody

[2017-05-23 16:07] saiy2k commented on #411
Copying my console log

[code]

[2017-05-23 18:06] emik commented on #531
Am also getting this error when verifying deployment from Windows to an Ubuntu 16.04 server. Tried abernix/meteord:binbuild and no difference.

[2017-05-23 18:50] zodern commented on #411
The problem is `curl: (22) The requested URL returned error: 404 Not Found`. There is an issue for it #618.

[2017-05-24 05:41] adrprado commented on #616
This is how I configured mine:

[code]

[2017-05-24 06:29] adrprado opened #621 "How to access my assets in the public directory?"
I have a few images stored in the 'public/images' directory. It works pretty fine when I run locally (meteor run), but it won't show up after deployed by MUP.

This is how I call the image in my .html file:

`<img [src]="/images/logo.png" alt="">`

I tried to locate this image inside the docker container (`docker exec -it my-app bash --login`) with no success (`find / -name "logo.png"`).

Is there

[2017-05-25 09:40] awdjs commented on #157
the `--link` option is deprecated, check the link bellow.
https://docs.docker.com/engine/userguide/networking/default_network/dockerlinks/

here is the solution in 2 steps :

**Step 1 : pull, setup and expose your Mongo container manually**

1. pull the docker image
`docker pull mongo:latest`

2. setup your mongo container and expose the port
`docker run --name mongodb -d -p 27017:27017 mongo`

**

[2017-05-25 12:43] Twisterking opened #622 "Nginx config: redirect to url on error"
Hi guys!
So an idea which should be pretty easy to implement:
The user can define a `url` in the `mup.js` under the `nginx` key ...
something like `redirectOnErrorUrl` maybe.
If an error occurs in the nginx proxy, something like the usual `502 bad gateway` while a new version is being deployed, the user would just be redirected to this url, e.g. a standard "we are currently updating our service" p

[2017-05-25 12:51] haibo32012 commented on #614
I got this:
![screenshot from 2017-05-25 20 49 56](https://cloud.githubusercontent.com/assets/7117248/26450814/da64c75c-418b-11e7-8986-11e30becdf72.png)
mup logs:
![screenshot from 2017-05-25 21 01 58](https://cloud.githubusercontent.com/assets/7117248/26451178/7ee4b3d6-418d-11e7-871a-55a76dbcde22.png)

[2017-05-25 18:37] znat opened #623 "How to access meteor shell?"
Is there something like `docker exec -it <app-name> ...` available?

[2017-05-26 16:10] Joeblockmark opened #624 "How can I tell if mup setup has worked?"
I am trying to deploy an app to an ubuntu VPS with plesk installed. After running `mup setup` I can't see any changes new files or anything on the server. My assumption is that the the command isn't working but there is no error message. It says in the console:

Started TaskList: Setup Docker

[111.222.333.444] - Setup Docker

[2017-05-26 16:42] adrprado commented on #623
I believe the `meteor` command is not available after building you app, hence this command is not available in production.

[2017-05-27 11:06] kulttuuri commented on #591
I can't seem to get the letsencrypt SSL working. Do I need to create the nginx proxy myself or should that new ssl autogenerate parameter set it up for me? I first tried with Azure Ubuntu 14.04 LTS but that didn't work and also the `apt-get install letsencrypt` did not work there. So I spinned up new Azure Ubuntu 16.06 LTS VM and ran few commands on the server as suggested on this thread before st

[2017-05-27 14:34] kulttuuri commented on #591
Nevermind, got this one sorted out! I was trying to sign azure test server address, looked up the docker logs for the nginx meteor server instance and it did not want to grant that server an certificate. Added DNS entry to my own server subdomain address and it worked nicely.

Just heads up that with Azure's Ubuntu 14.04 server the letsencrypt did not work at all, but with 16.04 it worked out of t

[2017-05-27 22:10] sunlee-newyork commented on #485
@zodern @ZhuQinglei thank you so much, stopping and starting mup/nginx worked for me as well!

[2017-05-28 04:38] THPubs commented on #260
Any updates on this issue? I'm still having this issue and now it's more frequent.

[2017-05-28 11:41] KoenLav commented on #620
@zodern are there any specific issues you expect to run into?

I suppose adding this functionality would revolve mainly around rewriting:

docker
 run \
  -d \
  --restart=always \
  <% if(sslConfig && typeof sslConfig.autogenerate === "object")  { %> \
  --expose=80 \
  <% } else { %> \
  --publish=$BIND:$PORT:<%= docker.imagePort %> \
  <% } %> \
  --volume=$BUNDLE_PATH:/bundle \
  --hostname="$

[2017-05-29 04:51] tomtom87 commented on #565
@idanwe  @santteegt  Hi guys, did you manage to get it working on AWS? It's really pretty long winded.

You have to setup an EB load balancer then deploy to the instance, as long as your DNS is at the AWS Route 53 you can use their provided SSL. Still I am unable to get this to work with Meteor in the new version sadly.

Worked perfect before... wish it still did

[2017-05-30 10:54] Joeblockmark opened #625 "Error starting userland proxy: listen tcp 0.0.0.0:80: bind: address already in use"
I get this error during `mup deploy` during the start meteor phase
I tried changing the port in mup.js to use a different imagePort (I have tried 4048 and 90)

[2017-05-30 10:56] Joeblockmark commented on #624
It's working now. For each task it should say:
[ip] - task
[ip] - task: SUCCESS

[2017-05-30 11:07] Joeblockmark commented on #625
When I change the port in mup.js I still get the same error (for 0.0.0.0:80)

[2017-05-30 12:41] trsh opened #626 "Weird errors un deploy"
[code]

Any ideas? It say's a lot of stuff I do not understand. And then 'address already in use', but it's the configured address for this setup. So Im very confused.

[2017-05-30 16:27] ZubMono commented on #614
I'm getting the same error, sometimes It works after trying a lot of times.

[2017-05-31 07:50] trsh commented on #625
@Joeblockmark the whole stack is similar to this -> https://github.com/zodern/meteor-up/issues/626 ?

[2017-05-31 08:35] Joeblockmark commented on #625
@trsh yes that looks very similar

[2017-05-31 08:54] tomtom87 commented on #594
@sethjgore  I am trying to get this working, thanks for your suggestion.

Sadly I reach the point where, although there was no error the verify deployment stage fails silently and the app is not running.

Really a shame this project is so broken now, used to work great

[2017-05-31 08:55] tomtom87 commented on #626
@trsh  have you run the `mup setup` and `mup deploy` stages first?

[2017-05-31 08:56] tomtom87 commented on #618
@zodern  I am getting an issue with let's encrypt. The server doesn't ever verify although all other stages pass to completion.

[2017-05-31 08:56] tomtom87 commented on #614
+1 Getting same error. Glad I am not alone

[2017-05-31 10:29] trsh commented on #626
@tomtom87 and other

My problem was, that the previous instance was deployed using old (legacy) version of MUP. So,

a) first I needed to remove it from the server (did it by this instructions https://stackoverflow.com/questions/30458200/how-do-i-remove-my-deployment-instances-created-using-meteor-up)

b) Then mup setup & deploy went fine.

[2017-06-01 12:48] isAlmogK commented on #617
Any news when this well be fixed, kind of a big issue.

[2017-06-01 14:04] crstn210 opened #627 ".deploy is not a meteor app"
i´m trying to deploy the app just like before, executing mup from .deploy folder but its not working

`C:\Users\crist\Google Drive\brik\.deploy>C:\Users\crist\AppData\Roaming\npm\mup.cmd deploy
Building App Bundle Locally
C:\Users\crist\Google Drive\brik\.deploy is not a meteor app

C:\Users\crist\Google Drive\brik\.deploy>`

[2017-06-01 16:38] make-github-pseudonymous-again commented on #364
Here is a [meteor database backup example using rclone](https://github.com/edemaine/coauthor/blob/b6582b7857a3de8060e6d41384db64be457cf6b5/.backup/backup.sh).

[2017-06-01 21:34] brianlukoff commented on #403
@SimonatoLucaManuele Are you using BitBucket Pipeline's stored SSH keys? When I try to do that I get the following from running `mup` in a BitBucket pipeline:
[code]

[2017-06-02 08:43] kaamodt commented on #403
It has been awhile since I worked with this, but what type of credentials you need depends on the server you are trying to deploy to. Typically, this will be a SSH key pair.

For `mup` there is configuration for what type of credentials you need to accessing the target server. If you look at my script above I have three lines for making the SSH key pair available for the deploy pipeline.

[code]
w

[2017-06-02 09:48] SimonatoLucaManuele commented on #403
@brianlukoff I try to use pipelines ssh key but without success. I've to redeploy the previous version! I'm going to do it today!

[2017-06-02 09:55] pociej opened #628 "Unable to run due to missing binary"
Hi i just noticed strange behaviour so iinstalled mup gloablly
and wanted to run. It throws :
`/usr/local/bin/mup: No such file or directory`
Its true but what is strange , im using nvm and currently im on 6.3.1
and other packages like mocha i installed globally are only
in : `.nvm/versions/node/v6.3.1/bin/` not in `/usr/local/bin/mup: `
and i can run it normally, only problem is mup.
Do you think

[2017-06-02 11:09] tormodboga opened #629 "mobileSettings not working?"
If I leave the default mobileSettings and set serverOnly to false, I get the following error when deploying:

[code]

It seems that Cordova is expecting a filename to open, not an object?
Anyone else found out how to make this work?

If I remove the mobileSettings, it will look for the default settings.json file, but I don't want to use that..

I am using mup version 1.2.8 and Meteor version 1.5 (

[2017-06-02 11:26] #525 closed, assigned to nobody

[2017-06-02 11:27] trsh commented on #525
No mango settings are required in latest release

[2017-06-02 11:36] trsh commented on #626
I guess I can close this.

[2017-06-02 11:36] #626 closed, assigned to nobody

[2017-06-02 13:09] brianlukoff commented on #403
@kaamodt @SimonatoLucaManuele BitBucket now has a built-in feature for storing an SSH key that is automatically added to images used for pipelines. I was finally able to determine that the private key is placed at `/opt/atlassian/pipelines/agent/data/id_rsa`, so setting `pem` to that file let me get `mup` deployments working.

[2017-06-02 16:50] SimonatoLucaManuele commented on #403
thank you @brianlukoff! So i can try to copy them in a more accessible folder.. ~/ssh/id_rsa maybe?

[2017-06-02 21:47] j6k4m8 commented on #391
I believe this is happening because mup fails to delete old versions of the app in `opt/[appname]`.

[2017-06-03 18:39] zodern commented on #618
@ovidyou I instead created the [zodern:mup-helpers](https://atmospherejs.com/zodern/mup-helpers) meteor package to fix this. The solution I mentioned above would have only fixed this for apps not using let's encrypt, but this package works for all apps using mup. Update mup with `npm i -g mup`, add the package, and redeploy.

@tomtom87 Please add the `--verbose` flag and post the output here from

[2017-06-03 18:52] zodern commented on #614
The readme has a [troubleshooting section for this.](https://github.com/zodern/meteor-up#verifying-deployment-failed). I just pushed some changes to make it more clear.

@zeekun There wasn't enough time for `npm install` to finish. Increase `meteor.deployCheckWaitTime`.

@haibo32012 @ZubMono and @tomtom87 Make sure you have the latest version of mup (`mup --version` should show `1.2.9` or newer; u

[2017-06-03 19:06] zodern commented on #617
@AlmogRnD could you please share your config?

Also, it would be helpful if you and @mylsb could give me:
- The docker version on the server
- List of the env variable names from `docker inspect <app name>`

[2017-06-03 19:25] zodern commented on #623
It is not possible to access `meteor shell`. What would you use it for?

[2017-06-03 19:27] zodern commented on #624
@Joeblockmark do you know what fixed it?

[2017-06-03 19:31] zodern commented on #625
@Joeblockmark The error is from another app, nginx proxy, or something else running on the server using port 80.

`imagePort` is the port the app uses inside of the docker container. What you probably were wanting to change is `meteor.env.PORT`, which is the port your app is accessible at.

[2017-06-03 19:35] zodern commented on #627
Make sure `meteor.path` in your config is correct. Right now it is relative to where you run mup instead of relative to the location of the config.

[2017-06-03 19:38] zodern commented on #628
It looks like a problem with how npm installed it. Did you change the node version since installing mup?

[2017-06-03 19:42] #594 closed, assigned to nobody

[2017-06-03 19:47] zodern commented on #391
@j6k4m8 could you please run `du -h --max-depth=2 /opt` and `df -h` on the server?

[2017-06-03 20:20] zodern commented on #591
Mup uses https://github.com/jwilder/nginx-proxy and https://github.com/JrCs/docker-letsencrypt-nginx-proxy-companion for Let's encrypt. Everything they need is part of the docker image.

I updated the [instructions for setting up let's encrypt](https://github.com/zodern/meteor-up#autogenerate-certificates) and added a [section under troubleshooting.](https://github.com/zodern/meteor-up#lets-encryp

[2017-06-03 20:24] zodern commented on #458
This is available in 1.2.9: https://github.com/zodern/meteor-up#reverse-proxy

[2017-06-03 20:24] #458 closed, assigned to nobody

[2017-06-03 20:24] zodern commented on #23
Added in 1.2.9: https://github.com/zodern/meteor-up#reverse-proxy.

[2017-06-03 20:24] #23 closed, assigned to nobody

[2017-06-03 20:31] zodern commented on #359
The new reverse proxy available in 1.2.9 doesn't have that vulnerability. https://github.com/zodern/meteor-up#reverse-proxy

[2017-06-03 20:31] #359 closed, assigned to nobody

[2017-06-03 20:33] zodern commented on #606
Duplicate of #205

[2017-06-03 20:33] #606 closed, assigned to nobody

[2017-06-03 20:36] #199 closed, assigned to nobody

[2017-06-03 20:37] #312 closed, assigned to nobody

[2017-06-03 20:37] #347 closed, assigned to nobody

[2017-06-03 20:43] #537 closed, assigned to nobody

[2017-06-03 20:47] #544 closed, assigned to nobody

[2017-06-03 20:49] #543 closed, assigned to nobody

[2017-06-03 20:49] #542 closed, assigned to nobody

[2017-06-03 20:49] #539 closed, assigned to nobody

[2017-06-03 20:51] zodern commented on #549
1.2.7 has been released for a month. If you still have problems, feel free to reopen this issue.

[2017-06-03 20:51] #549 closed, assigned to nobody

[2017-06-03 20:52] zodern commented on #550
It's now possible in 1.2.9 with the new [reverse proxy](https://github.com/zodern/meteor-up#reverse-proxy)!

[2017-06-03 20:52] #550 closed, assigned to nobody

[2017-06-03 20:52] #555 closed, assigned to nobody

[2017-06-03 20:58] #573 closed, assigned to nobody

[2017-06-03 20:58] #576 closed, assigned to nobody

[2017-06-03 21:01] zodern commented on #587
The problem is `Error starting userland proxy: listen tcp 127.0.0.1:27017: bind: address already in use.` There already is something using port 27017.

[2017-06-03 21:03] zodern commented on #589
@WayneUong could you please give more details? Do you want to shutdown the app, or cancel while deploying the app?

[2017-06-03 21:04] zodern commented on #590
With mup 1.2.9, it should work with almost any number for `imagePort`. If you want to change what port the app is accessed on, you want to change `env.PORT` instead.

[2017-06-03 21:04] #590 closed, assigned to nobody

[2017-06-03 21:05] #592 closed, assigned to nobody

[2017-06-03 21:06] #601 closed, assigned to nobody

[2017-06-03 21:07] #613 closed, assigned to nobody

[2017-06-03 21:10] #369 closed, assigned to nobody

[2017-06-04 02:59] zodern commented on #620
A PR would be greatly appreciated!

I went through the [swarm tutorial](https://docs.docker.com/engine/swarm/swarm-tutorial/) today to get an overview of what is involved and how it works.

1) You probably will need a way to know which servers are a manager. The servers that are a manger could have `manager: true` in the config.  Also, `meteor.servers` would no longer be needed, and instead you co

[2017-06-04 10:55] ovidyou commented on #618
@zodern thanks. Unfortunately this still doesn't work when using [jabbslad:basic-auth](https://atmospherejs.com/jabbslad/basic-auth), I get the same curl error as in first post.

I guess for my use case and other use cases could be really helpful to be able to specify in the mup settings the HTTP status codes that should be treated as valid deployment. If you are willing to have this type of funct

[2017-06-04 13:11] zodern commented on #618
I released 1.2.10 which removes the HTTP status code requirements.

[2017-06-04 17:06] WayneUong commented on #589
@zodern When the app is being deployed, I want to wait till all node processes are done before the old app is shut down and replaced with the new app.

[2017-06-04 17:22] iAssureIT opened #630 "Two Meteor Apps sharing Single Database"
Hi All,

I am tired of reading all issues over internet with this subject line, but not able to find a credible solution. Can someone please help?
I am using mup to deploy two meteor apps, which are using same database. But following two mup.js for two apps are not giving me the desired result.
For two apps:  App1 & App2, I am giving same MONGO_URL. But when I do mup deploy, it creates two separat

[2017-06-04 18:15] zodern commented on #630
For `app2`:
- Remove `mongo` from the config
- Change the `env.MONGO_URL` to `mongodb://mongodb:27017/<app1 name>`
- Your `meteor.docker` object should look similar to:
[code]

[2017-06-04 19:26] avishaan commented on #630
@zodern, nice! Going to try this out just now as I was about to ask the same question

[2017-06-04 22:37] thijssmudde opened #631 "Error response from daemon: driver failed programming external connectivity on endpoint"
`
	-----------------------------------STDERR-----------------------------------
	Removing docker containers. Errors about nonexistent endpoints and containers are normal.
	Error response from daemon: No such container: myroutes
	Error response from daemon: endpoint myroutes not found
	Error response from daemon: No such container: myroutes-frontend
	Error response from daemon: endpoint myroutes-fr

[2017-06-04 22:40] zodern commented on #631
Something is using port 80. You can run `mup docker ps` to see if a container is using it.

[2017-06-04 22:42] thijssmudde commented on #631
@zodern I can see the container I created 3 months ago. What should I do next?

CONTAINER ID        IMAGE               COMMAND                  CREATED             STATUS              PORTS                        NAMES
6c233e721193        mongo:3.4.1         "/entrypoint.sh mo..."   3 months ago        Up 2 minutes        127.0.0.1:27017->27017/tcp   mongodb

[2017-06-04 22:54] thijssmudde commented on #631
Okay, i tried killing the container and then redeploying. This does not help sadly. Same error:

docker: Error response from daemon: driver failed programming external connectivity on endpoint myroutes (353e0cf3ad2f1c498349db93c4925e277736f08520ca9dbbad293317e3307d94): Error starting userland proxy: listen tcp 0.0.0.0:80: bind: address already in use.

[2017-06-04 23:10] zodern commented on #631
Ssh into the server, and run `netstat -tulpn | grep :80`. It will show you what is using port 80.

[2017-06-04 23:26] thijssmudde commented on #631
Ok thanks, I can see nginx is running:

tcp        0      0 0.0.0.0:80              0.0.0.0:*               LISTEN      5137/nginx -g daemo
tcp6       0      0 :::80                   :::*                    LISTEN      5137/nginx -g daemo

I used sudo fuser -k 80/tcp to stop it, but its not helping. Can you please point out what I have to do to get it working?

[2017-06-04 23:38] zodern commented on #631
Are you getting the same error? Does `netstat -tulpn | grep :80` still show anything?

[2017-06-05 00:46] dominicarrojado opened #632 "Deploying Meteor app v1.5"
Hi, I'm getting an error deploying the app with Meteor version 1.5. This is the screenshot of the error:

![image](https://cloud.githubusercontent.com/assets/6789191/26766830/6155c062-49cb-11e7-98c8-7cb52708e251.png)

[2017-06-05 00:47] avishaan commented on #630
@zodern @iAssureIT that worked for me just as a heads up

[2017-06-05 01:01] dominicarrojado commented on #632
@zodern ![image](https://cloud.githubusercontent.com/assets/6789191/26766978/8da4d0e8-49cd-11e7-9f23-36def871b898.png)

[2017-06-05 01:03] #350 closed, assigned to nobody

[2017-06-05 01:52] tomtom87 commented on #618
+1 doesnt work with force-ssl either by the way @zodern

Sent from my iPhone

[2017-06-05 02:15] zodern commented on #618
What version of mup are you using (`mup --version`)?

[2017-06-05 07:17] thijssmudde commented on #631
After redeploying an older version of the app while making sure nothing was running on port 80 it finally worked. Thanks @zodern for the help

[2017-06-05 08:19] ovidyou commented on #618
@zodern I confirm mup 1.2.10 successfully deployed the app. Big thanks!

[2017-06-05 15:46] crstn210 commented on #627
Thanks, my `meteor.path` was `'.'` now is `'../'` it seems to work now

[2017-06-05 15:47] #627 closed, assigned to nobody

[2017-06-06 15:26] crstn210 opened #633 "Verifying Deployment: FAILED meteor 1.5"
the error:
` Verifying Deployment: FAILED

        -----------------------------------STDERR-----------------------------------
        n/node" "/usr/bin/npm" "install" "--unsafe-perm"
        npm ERR! node v4.8.0
        npm ERR! npm  v3.10.10
        npm ERR! code ELIFECYCLE
        npm ERR! meteor-dev-bundle@0.0.0 install: `node npm-rebuild.js`
        npm ERR! Exit status 254
        npm ERR!

[2017-06-06 16:02] crstn210 commented on #632
@mroftalp  do you solved this already?

[2017-06-06 16:16] rootedsoftware commented on #632
I was able to get my working by deleting the node_modules folder and then doing an ```meteor npm install``` then doing ```mup deploy``` again.

[2017-06-06 16:16] rootedsoftware commented on #633
I was able to get my working by deleting the node_modules folder and then doing an ```meteor npm install``` then doing ```mup deploy``` again.

[2017-06-06 16:33] crstn210 commented on #632
thanks @c316
i've did that and now i got this:
`x Verifying Deployment: FAILED

        -----------------------------------STDERR-----------------------------------
        e
        npm ERR! Or if that isn't available, you can get their info via:
        npm ERR!     npm owner ls meteor-dev-bundle
        npm ERR! There is likely additional logging output above.

        npm ERR! Please include t

[2017-06-06 17:16] dominicarrojado commented on #632
@crstn210 I did the same as what @c316 did. It worked for me.

[2017-06-06 19:51] crstn210 commented on #632
@mroftalp  i´ve tried several times, i've even delete the entire folder and cloned the clean repository from github again, and this is the error I get `x Verifying Deployment: FAILED

        -----------------------------------STDERR-----------------------------------
         There is likely additional logging output above.

        npm ERR! Please include the following file with any support requ

[2017-06-06 19:56] rootedsoftware commented on #632
Another thing you might try is to make a small change to both your code and to the mup.js file. I've noticed that when I do this Mup then rebuilds something. So try this and when you make the change to mup.js do a ```mup reconfig``` and then a ```mup deploy```. If this doesn't work then try doing a ```mup setup``` then a ```mup deploy```

[2017-06-06 20:18] #633 closed, assigned to nobody

[2017-06-06 22:25] sunlee-newyork commented on #618
Not sure if my issue is related to this, but I realized the basic authentication I had set up directly in my server before SSL (proxy 3000 to 80) became obsolete after I added letsencrypt ssl autogenerate and I can't figure out a way to add `basic_auth` to 443.

[2017-06-07 06:22] tschneid opened #634 "Do not restart docker service on setup"
Since [one of the last commits](https://github.com/zodern/meteor-up/commit/861e7c9ebf9ae1c9f991512176529893de0c31c4), during each `mup setup` [this code](https://github.com/zodern/meteor-up/blob/861e7c9ebf9ae1c9f991512176529893de0c31c4/src/modules/docker/assets/docker-setup.sh#L27) is run:
[code]
This restarts the docker service (if already running) and thereby stops ALL running containers on this

[2017-06-07 07:20] asela-wijesinghe opened #635 "Second deployments fails and all the sites in the server goes down"
deployed the application using same `mup.js` settings 1st time, but the second deployment failed using `mup deploy` and all the sites in the server are down also
i have attached the file for reviewing.can someone point me to right direction please?

![image](https://user-images.githubusercontent.com/23404276/26866767-4787750c-4b80-11e7-965c-eae568335998.png)

[code]

[2017-06-07 10:49] x5engine commented on #233
you need to add this in the docs because it is confusing!

[2017-06-08 03:54] my-slab commented on #617
Upgrading to the latest version of docker - `Docker version 17.05.0-ce, build 89658be` resolved this for me.  The server was running `1.8.2` - which was a fair bit out of date 😓.

Thanks @zodern

[2017-06-08 03:54] #617 closed, assigned to nobody

[2017-06-08 12:26] michaltakac commented on #633
Tried what @c316 is suggesting, also tried `mup setup` few times after it, tried changing stuff in app and doing `mup reconfig`, still the error persists.

[2017-06-08 13:03] michaltakac commented on #633
Resolved it by doing this (Ubuntu 16.04 on DigitalOcean, 512 MB / 1 CPU, 20 GB SSD):

1. ssh into server (`root@YOUR_SERVER_IP`)
2. `docker ps` to show docker images, find the `abernix/meteord:base` one (running your app), write down CONTAINER ID
3. `docker exec -it YOUR-CONTAINER-ID bash`
4. `npm install node-gyp -g`
5. exit docker bash, exit server
6. `mup setup`
7. `mup deploy`

Verifying Deplo

[2017-06-08 13:03] michaltakac commented on #632
Resolved it by doing this (Ubuntu 16.04 on DigitalOcean, 512 MB / 1 CPU, 20 GB SSD):

1. ssh into server (`root@YOUR_SERVER_IP`)
2. `docker ps` to show docker images, find the `abernix/meteord:base` one (running your app), write down CONTAINER ID
3. `docker exec -it YOUR-CONTAINER-ID bash`
4. `npm install node-gyp -g`, wait until it install finishes
5. exit docker bash, exit server
6. `mup setup`

[2017-06-09 08:44] THPubs commented on #635
It's happening all the time even for me!

[2017-06-09 10:31] albertonaperijr commented on #635
It's happening when your deployed meteor app/s are connected/using the same/default mongodb database.

[2017-06-09 11:25] THPubs commented on #635
@albertonaperijr How can I fix it? I have two apps which need to rely on the same database (MLab).

[2017-06-09 11:57] productiveme opened #637 "Option to add smallfiles=true for mongodb.conf"
Hi,

I'm currently running into an issue with the mongodb docker container continuously restarting with the following error message:

[code]

When I edit the `/opt/mongodb/mongodb.conf` file and add a setting `smallfiles=true` the issue goes away, but on the next `mup setup` the file would be overwritten and the issue would come back.

It would be really nice to be able to include a custom mongodb

[2017-06-09 19:31] j6k4m8 commented on #391
Unfortunately this was on a temporary development server and I have since spun it down. But I can confirm that these commands indicated (both before and after I emptied `/opt`) that these were indeed the culprit directories.

[2017-06-10 00:59] #585 closed, assigned to nobody

[2017-06-10 05:47] alexgzhou opened #638 "clientUploadLimit documented wrong～"
proxy.shared.clientUploadLimit will result unknown properties, should be proxy.clientUploadLimit and be number but not string like '10M'

[2017-06-10 19:12] themeteorchef opened #639 "Question about Mup, how to get in touch?"
Howdy. Is there a good email address to get in touch with you at regarding Mup/plans for the future? Interested in your work for a new business. If you don't want to publish here, could you please send an email to ryan.glover@cleverbeagle.com?

[2017-06-12 12:03] thijssmudde commented on #634
Seems like this causes many issues on my server, because the app is not online after pushing a new update.

[2017-06-12 13:16] #634 closed, assigned to nobody

[2017-06-12 14:29] sunlee-newyork opened #640 "Mup deploy doesn't minify app + bundle npm modules"
Hi there,

I spent a good amount of time trying to find the answer before I resorted to creating this issue. I am deploying to a DigitalOcean server successfully with mup, but for the life of me I cannot figure out why my app is not being minified and all of my node modules are being included per package.

What I'm seeing in the compiled index.html:
[code]

My `mup.js`:
[code]

My app is being bun

[2017-06-12 15:33] mattsouth opened #641 "doc update: minimum node version 6?"
The minimum node version appears to have crept up to 6.  With a clean ubuntu 16.04 I can run mup (1.2.10) on node 6 but not node 4 where any mup command just hangs.  If this is the case (and it would be understandable if it were) the getting started guide needs updating.

[2017-06-12 17:31] zodern commented on #641
I will try to fix running on Node 4.

[2017-06-12 17:32] zodern commented on #640
What meteor packages is your app using?

[2017-06-12 17:32] #19 closed, assigned to nobody

[2017-06-12 17:34] sunlee-newyork commented on #640
[code]

[2017-06-12 19:16] zodern commented on #640
It looks like you are missing a package to minify js or css. The default package is https://atmospherejs.com/meteor/standard-minifiers-js

[2017-06-12 20:12] sunlee-newyork commented on #640
Wow... I am definitely ashamed of myself for having missed that. Sorry for the trivial issue! Thank you very much for your time :)

[2017-06-12 20:12] #640 closed, assigned to nobody

[2017-06-12 20:13] mokaid opened #642 "Deployment fails with exit error 254 !!!!"
Hello ...

Any suggestion  ... ?
Whats wrong with sshpk package, I check the json package file inside sshpk folder the slashes are in their right direction , what else should I check ?

 Verifying Deployment: FAILED

[xx.xx.xx.xx]npm ERR! Please include the following file with any support request:
[xx.xx.xx.xx]npm ERR!     /bundle/bundle/programs/server/npm-debug.log
[xx.xx.xx.xx]> meteor-dev-bund

[2017-06-13 06:42] Colkadome opened #643 "MongoDB repeated queries when computer sleeps"
I have deployed a Meteor + React app using mup to Ubuntu Amazon ec2, and I am experiencing some unusual behaviour.

A certain iMac computer in the room has a Chrome webpage open on my Meteor app that displays a list of Jobs, and each Job has a list of Roles which is fetched reactively using the publishComposite library (https://github.com/englue/meteor-publish-composite), and createContainer (http